<template>
  <v-menu bottom right id="account">
    <v-btn
      :icon="!authenticated"
      :flat="authenticated"
      :class="{'account__info': authenticated}" slot="activator"
      light
    >
      <v-icon light>account_circle</v-icon>
      <span v-if="authenticated">&nbsp;{{ user.login }}</span>
    </v-btn>
    <v-list>
      <template v-if="authenticated">
        <v-list-tile @click="$router.push({name: 'profile.detail', params: {login: user.login}})">
          <v-list-tile-title>{{ $t('Мой профиль') }}</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="$router.push({name: 'profile.change', params: {login: user.login}})">
          <v-list-tile-title>{{ $t('Изменить профиль') }}</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="$router.push({name: 'export'})">
          <v-list-tile-title>{{ $t('Экспорт') }}</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="$store.dispatch('account/logout')">
          <v-list-tile-title>{{ $t('Выйти') }}</v-list-tile-title>
        </v-list-tile>
      </template>
      <template v-else>
        <v-list-tile v-for="item in menu.notAuth" :key="item.action" v-on:click.native="(e) => { openModal(item.action) }">
          <v-list-tile-title>{{ $t(item.text) }}</v-list-tile-title>
        </v-list-tile>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
import {mapGetters} from 'vuex';
import * as types from '@/store/mutations-types';

export default {
  name: 'account',
  data() {
    return {
      menu: {
        notAuth: [
          {text: 'Войти', action: 'login', dialog: true},
          {text: 'Регистрация', action: 'register', dialog: true}
        ]
      }
    }
  },

  computed: {
    ...mapGetters('account', ['authenticated', 'user'])
  },

  methods: {
    openModal(action) {
      this.$store.commit(`modal/${types.MODAL_CHANGE_ACTION}`, action);
    }
  }
};
</script>

<style scoped>
#account {
  line-height: 64px;
}
.account__info {
  margin: 0;
  height: 100%;
}
</style>