<template>
  <div :class="[{
    'panel-active': togglePanel,
    'panel-change--editor': changePanel === 'editor',
    'panel-change--comments': changePanel === 'comments'
  }, 'container-map']">
    <search-coord
      :loaded-library="loaded"
      @change="onChangeCoords"
      ref="coords"></search-coord>
    <map-types
      :types="types"
      @change="onChangeMapType"
      ref="mapTypes"></map-types>
    <point-editor ref="point"
      :lastLatLng="lastLatLng"
      :marker="marker"
      @toggle_panel="onTogglePanel"
      @change_panel="onChangePanel"
      @save="onSavePoint"
      @delete="onDeletePoint"
      @cancel="onCancelMarker"
      @add_marker="onAddMarker"
      @add_other_marker="onAddOtherMarker"
      @switch_marker_to="onSwitchMarkerTo"
      @setIcon="onSetIcon"
    ></point-editor>
    <point-comments ref="comments"
      :pointId="commentPoint"
      :selected="selectedComment"
      @cancel="onCancelComments"
      @toggle_panel="onTogglePanel"
      @change_panel="onChangePanel"
    ></point-comments>
    <point-info ref="point-info"
      :loaded-library="loaded"
      @edit="onEditPoint"
      @comments="onOpenComments"
      @open="onOpenPointInfo"
      @close="onClosePointInfo"
    ></point-info>
    <div ref="map" class="map"></div>
    <div class="map-copyright elevation-2">{{ $t('Используются картографические данные от сервисов') }}: <a target="_blank" href="https://www.google.com/maps">{{ $t('Google карты') }}</a>, <a target="_blank" href="https://www.yandex.ru/maps">{{ $t('Яндекс карты') }}</a>, <a target="_blank" href="https://www.openstreetmap.org">{{ $t('Карты OpenStreetMaps') }}</a></div>
  </div>
</template>

<script>
import pointInfo from './point/info';
import mapPoints from '@/mixins/map-points';
import urlCompiler from '@/mixins/url-compiler';

import {getLang} from '@/libs/lang';
import {getCookie} from '@/libs/cookie';
import {mapActions, mapGetters} from 'vuex';
import {URL, URLSearchParams} from '@/libs/url';
import YandexProjection from '@/libs/yandexProjection';
import YandexHybType from '@/libs/yandexHybType';

import searchCoord from '@/components/searchCoord.vue';
import mapTypes from '@/components/mapTypes.vue';
import pointEditor from '@/components/point/editor.vue';
import pointComments from '@/components/comments/index.vue';

import debounce from 'lodash.debounce';

const RE_GMAP_SCRIPT = /^https\:\/\/maps\.googleapis\.com\/maps/;

export default {
  name: 'googleMap',

  mixins: [mapPoints, urlCompiler],

  data() {
    return {
      map: null,
      loaded: false,
      togglePanel: false,
      types: [
        {
          key: 'roadmap',
          name: 'Гугл карты',
        },
        {
          key: 'satellite',
          name: 'Гугл спутник'
        },
        {
          key: 'hybrid',
          name: 'Гугл гибрид'
        },
        {
          key: 'YMAP',
          name: 'Яндекс карта'
        },
        {
          key: 'YSAT',
          name: 'Яндекс спутник'
        },
        {
          key: 'YHYB',
          name: 'Яндекс гибрид'
        },
        {
          key: 'OSM',
          name: 'OpenStreetMap'
        }
      ]
    }
  },

  computed: {
    ...mapGetters({
      currentLanguage: 'currentLanguage',
      center: 'map/center',
      zoom: 'map/zoom'
    })
  },

  watch: {
    $route(to, from) {
      this.onChangeRoute(to, from);
    },
    currentLanguage: async function(lang) {
      this.unload();

      await this.load({language: lang, region: lang.toUpperCase()});

      this.$refs.point.clear();
      this.commentPoint = null;
      this.marker = null;
      this.points = {};
      this.loadedBounds = [];
    },
    center() {
      if (this.map !== void 0) {
        this.updateCenter();
      }
    },
    zoom(zoom, oldZoom) {
      if (this.map !== void 0) {
        this.map.setZoom(zoom);
      }
    },
    pointSelected(pointId) {
      if (this.map !== void 0) {
        if (pointId) {
          this.$router.push(this.compileUrl('point', pointId));
        }
        else {
          this.$router.push(this.cleanUrl('point'));
        }
      }
    },
    commentPoint(pointId) {
      if (this.map === void 0) {
        return;
      }

      if (pointId) {
        this.$router.push(this.compileUrl('comments', pointId));
      }
      else {
        this.selectedComment = null;
        this.$router.push(this.cleanUrl('comments'));
      }
    },
    selectedComment(commentId) {
      if (commentId) {
        this.$router.push(this.compileUrl('comment', commentId));
      }
      else {
        this.$router.push(this.cleanUrl('comment'));
      }
    }
  },

  async created() {
    await this.load();

    this.$on('center_changed', debounce((center) => {
      this.$router.push(this.compileUrl(
        'center', center.lng().toFixed(6) + ',' + center.lat().toFixed(6)
      ));
    }, 100));

    this.$on('zoom_changed', (zoom) => {
      this.$router.push(this.compileUrl('zoom', zoom));
      this.$store.dispatch('map/setZoom', zoom);
    });

    const route = this.$route;

    this.onChangeRoute(route);
  },

  beforeDestroy() {
    this.unload();
  },

  methods: {
    onChangeRoute(to, from) {
      const isSetZoom = ('zoom' in to.query) && to.query.zoom
        && (from === void 0 || !('zoom' in from.query)
            || from.query.zoom !== to.query.zoom);

      const isSetCenter = ('center' in to.query) && to.query.center
        && (from === void 0  || !('center' in from.query)
            || from.query.center !== to.query.center);

      const isSetPoint = ('point' in to.query) && to.query.point
        && ('center' in to.query) && to.query.center
        && (from === void 0 || !('point' in from.query)
            || from.query.point !== to.query.point);

      const isSetComments = ('comments' in to.query) && to.query.comments
        && (from === void 0  || !('comments' in from.query)
          || from.query.comments !== to.query.comments);

      const isSetComment = isSetComments &&
        ('comment' in to.query) && to.query.comment
          && (from === void 0  || !('comment' in from.query)
            || from.query.comment !== to.query.comment);

      if (isSetZoom) {
        this.$store.dispatch('map/setZoom', Number(to.query.zoom));
      }

      if (isSetCenter) {
        const center = to.query.center.split(',');

        if (center.length === 2) {
          const latLng = new google.maps.LatLng(
            Number(center[1]), Number(center[0]));

          this.$store.dispatch('map/setCenter', latLng);
        }
      }

      if (isSetPoint) {
        this.pointSelected = to.query.point;
      }

      if (isSetComments) {
        this.commentPoint = to.query.comments;

        if (isSetComment) {
          this.selectedComment = to.query.comment;
        }
      }
    },

    async load(options = {}) {
      options = Object.assign(options, {
        v: '3.28.18',
        key: __GOOGLE_API__,
        language: getLang(),
        region: getLang().toUpperCase(),
        libraries: 'places',
        callback: 'googleMapsInit'
      });

      const url = new URL('/maps/api/js',
        'https://maps.googleapis.com/');

      Object.keys(options).map(key => {
        url.searchParams.set(key, options[key])
      });

      const googleMapScript = document.createElement('SCRIPT');

      googleMapScript.setAttribute('id', 'google-script');
      googleMapScript.setAttribute('src', url.toString());
      googleMapScript.setAttribute('async', '');
      googleMapScript.setAttribute('defer', '');

      document.body.appendChild(googleMapScript);

      await new Promise((resolve, reject) => {
        window['googleMapsInit'] = resolve;
      });

      this.init();
    },

    unload() {
      const googleScript = document.getElementById('google-script');

      if (googleScript != null) {
        googleScript.remove();
      }
      
      const scripts = document.head.getElementsByTagName('script');

      for (let i = 0; i < scripts.length; i++) {
        const script = scripts.item(i);

        if (RE_GMAP_SCRIPT.test(script.src)) {
          setTimeout(() => script.remove(), 0);
        }
      }

      if (window.google !== void 0 && window.google.maps !== void 0) {
        delete window.google.maps;
      }

      delete window['googleMapsInit'];
      this.loaded = false;
    },

    init() {
      const mapType = getCookie('map-type');

      this.map = new google.maps.Map(this.$refs.map, {
        center: this.center,
        zoom: this.zoom,

        mapTypeControl: false,
        mapTypeId: mapType !== void 0 ? mapType : 'roadmap',

        zoomControl: true,
        zoomControlOptions: {
          position: google.maps.ControlPosition.RIGHT_BOTTOM
        },

        scaleControl: false,
        streetViewControl: true,
        rotateControl: false,
        fullscreenControl: false
      });

      this.initMapTypes();

      // events
      this.map.addListener('bounds_changed', () => {
        this.$emit('bounds_changed', this.map.getBounds());
      });

      this.map.addListener('center_changed', () => {
        this.$emit('center_changed', this.map.getCenter());
      });

      this.map.addListener('zoom_changed', () => {
        this.$emit('zoom_changed', this.map.getZoom());
      });

      this.map.addListener('click', (event) => {
        this.$emit('map_click', event.latLng);
      });

      this.map.controls[google.maps.ControlPosition.TOP_LEFT]
        .push(this.$refs.coords.$el);

      this.map.controls[google.maps.ControlPosition.TOP_RIGHT]
        .push(this.$refs.comments.$el);

      this.map.controls[google.maps.ControlPosition.RIGHT_CENTER]
        .push(this.$refs.mapTypes.$el);

      this.map.controls[google.maps.ControlPosition.TOP_RIGHT]
        .push(this.$refs.point.$el);

      this.loaded = true;
    },

    initMapTypes() {
      const lang = this.currentLanguage;

      this.map.mapTypes.set('OSM', new google.maps.ImageMapType({
        getTileUrl: function(b, a) {
          return "http://tile.openstreetmap.org/" + a + "/" +
            b.x + "/" + b.y + ".png";
        },
        tileSize: new google.maps.Size(256,256),
        isPng: true,
        alt: "OpenStreetMap layer",
        name: "OpenStreetMap",
        maxZoom: 18
      }));

      // Яндекс
      const typeYandexMap = new google.maps.ImageMapType({
        getTileUrl: function(coord, zoom) {
          return "https://vec0" + ((coord.x + coord.y) % 4 + 1) +
            ".maps.yandex.net/tiles?l=map&v=2.31.0&x=" + coord.x +
            "&y=" + coord.y + "&z=" + zoom + "&lang=" + lang;
        },
        tileSize: new google.maps.Size(256,256),
        isPng: true,
        alt: "Яндекс карта",
        name: "Яндекс карта",
        maxZoom: 18,
        minZoom: 3,
        opacity: 0.9
      });

      const typeYandexSat = new google.maps.ImageMapType({
        getTileUrl: function(coord, zoom) {
          return "https://sat0" + ((coord.x + coord.y) % 4 + 1) +
            ".maps.yandex.net/tiles?l=sat&v=1.36.0&x=" + coord.x +
            "&y=" + coord.y + "&z=" + zoom + "&lang=" + lang;
        },
        tileSize: new google.maps.Size(256,256),
        isPng: true,
        alt: "Яндекс Спутник",
        name: "Яндекс Спутник",
        maxZoom: 18,
        minZoom: 3,
        opacity: 0.9
      });

      const typeYandexHyb = new YandexHybType(
        new google.maps.Size(256, 256), lang);

      typeYandexMap.projection = new YandexProjection(google.maps);
      typeYandexSat.projection = new YandexProjection(google.maps);
      typeYandexHyb.projection = new YandexProjection(google.maps);
      
      this.map.mapTypes.set('YMAP', typeYandexMap);
      this.map.mapTypes.set('YSAT', typeYandexSat);
      this.map.mapTypes.set('YHYB', typeYandexHyb);
    },

    updateCenter() {
      if (this.map === void 0) {
        return;
      }

      this.map.setCenter({
        lat: this.center.lat,
        lng: this.center.lng
      });
    },

    // Events
    onChangeCoords(coords) {
      this.map.setCenter(coords);
      this.map.setZoom(16);
    },

    onChangeMapType(type) {
      this.map.setMapTypeId(type);
    }
  },

  components: {searchCoord, mapTypes, pointEditor, pointInfo, pointComments}
}
</script>

<style scoped>
  .map {
    left: 0; right: 0; top: 0; bottom: 15px;
    position: absolute;
  }
  .map-copyright {
    position: absolute;
    background: #fff;
    height: 15px;
    width: 100%;
    bottom: 0;
    text-align: right;
    line-height: 15px;
    padding-right: 10px;
    font-size: 10px;
  }
</style>

<style>
  .container-map.panel-active .mp-root,
  .container-map.panel-active .gm-bundled-control-on-bottom {
    transition: transform .2s ease;
  }

  .container-map.panel-change--editor .mp-root,
  .container-map.panel-change--editor .gm-bundled-control-on-bottom {
    transform: translateX(-300px);
  }

  .container-map.panel-change--comments .mp-root,
  .container-map.panel-change--comments .gm-bundled-control-on-bottom {
    transform: translateX(-350px);
  }
</style>
