<template>
  <div class="image-modal">
    <img :src="params.src" />
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },

  props: {
    params: {
      type: Object,
      default: {}
    }
  }
}
</script>

<style>
  .image-modal {
    display: flex;
  }
</style>
