<template>
  <v-menu bottom right id="languageSelector">
    <v-btn icon slot="activator" light>
      <div class="flag-icon" :class="classLang(currentLanguage)"></div>
    </v-btn>
    <v-list>
      <v-list-tile v-for="(language, index) in getLanguagesList" :key="index" v-on:click.native="(e) => { switchLanguage(index) }">
        <v-list-tile-title>
          <div class="flag-icon" :class="classLang(index)"></div>&nbsp;{{ language.name }}
        </v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import Vue from 'vue';

export default {
  name: 'languageSelector',
  computed: {
    ...mapGetters([
      'getLanguagesList',
      'getLanguageMessages',
      'currentLanguage'
    ])
  },
  watch: {
    getLanguageMessages(messages) {
      this.$i18n.setLocaleMessage(this.currentLanguage, messages);
    },
    currentLanguage(val) {
      this.$i18n.locale = val;
      Vue.$changeLocaleMoment(val);
    }
  },
  methods: {
    classLang: (langId) => {
      return 'flag-icon-' + langId;
    },
    ...mapActions([
      'switchLanguage'
    ])
  }
};
</script>

<style scoped>
#languageSelector {
  line-height: 64px;
}

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1em;
  line-height: 1em;
}

.flag-icon:before {
  content: "\00a0";
}

.flag-icon-ru {
  background-image: url(../assets/svg/flags/ru.svg);
}

.flag-icon-en {
  background-image: url(../assets/svg/flags/en.svg);
}
</style>