<template>
  <v-card>
    <v-card-title>
      <div class="headline">{{ $t('Войти') }}</div>
    </v-card-title>
    <v-card-text>
      <v-text-field
            :label="$i18n.t('Имя пользователя')"
            v-model="login"
            required
            autofocus
      ></v-text-field>
      <v-text-field
            :label="$i18n.t('Пароль')"
            v-model="password"
            :type="password_hide ? 'password' : 'text'"
            required
      ></v-text-field>
      <v-btn
        outline
        secondary
        dark
        :disabled="disabled"
        v-on:click.native="(e) => { openModal('reset') }"
      >{{ $t('Забыли пароль?') }}</v-btn>
    </v-card-text>
    <v-card-actions class="blue-grey darken-1 mt-0">
      <v-btn
        light
        info
        flat="flat"
        class="white--text"
        :disabled="disabled"
        v-on:click.native="(e) => { openModal('register') }"
      >{{ $t('Регистрация') }}</v-btn>
      <v-btn
        primary dark
        :loading="loading"
        @click.native="loginAction()"
        :disabled="loading"
      >{{ $t('Войти') }}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import title from '@/mixins/title';
import validForm from '@/mixins/valid-form';
import {mapActions, mapGetters} from 'vuex';

export default {
  mixins: [title, validForm],
  title: 'Войти',
  name: 'login',
  data() {
    return {
      login: '',
      password: '',
      password_hide: true,
      fields: ['login', 'password']
    }
  },
  methods: {
    async loginAction() {
      const operation = this.$store.dispatch('account/login', {
        login: this.login,
        password: this.password
      });
      
      await this.runOperation(operation);
      this.$store.commit('modal/MODAL_CHANGE_ACTION', null);
    },
    openModal(action) {
      this.$store.commit('modal/MODAL_CHANGE_ACTION', action);
    }
  }
};
</script>

<style scoped>
</style>