<template>
  <v-menu
    offset-x
    left
    class="mp-root"
  >
    <v-btn light slot="activator" class="elevation-1">
      <v-icon dark>map</v-icon>
    </v-btn>
    <v-list>
      <div class="mp-type-item" v-for="type in types" :key="type.key">
        <v-list-tile>
          <v-list-tile-content @click="selectType(type)">{{ $t(type.name) }}</v-list-tile-content>
        </v-list-tile>
      </div>
    </v-list>
  </v-menu>
</template>

<script>
import {setCookie, getCookie} from '@/libs/cookie';

export default {
  name: 'mapTypes',

  data() {
    const mapType = getCookie('map-type');

    return {
      type: mapType !== void 0 ? mapType : 'roadmap',
      nudgeLeft: 100
    }
  },

  watch: {
    type(newValue) {
      this.$emit('change', newValue);
    }
  },

  props: {
    types: {
      type: Array,
      default: []
    }
  },

  methods: {
    selectType(type) {
      this.type = type.key;
      setCookie('map-type', type.key, {expires: 31536000});
    }
  }
};
</script>

<style>
.mp-root .btn {
  min-width: 28px;
  height: 27px;
  padding: 0;
  background: #fff;
}

.mp-root .btn * {
  font-size: 15px;
}

.mp-root .btn__content {
  padding: 0 6px;
}

.mp-root .mp-type-item {
  min-width: 180px;
}

.mp-root .list__tile {
  height: 25px;
}

.mp-type-item .list__tile__content {
  flex: none;
}
</style>