<template>
  <v-dialog v-model="active" persistent :width="width" content-class	="modal">
    <v-btn icon
      class="modal--close grey lighten-4"
      @click.native="closeModal"
    ><v-icon dark>close</v-icon></v-btn>
    <component v-if="action !== null"
      :is="action"
      :params="params"
    >
      <v-card>
        <v-card-row>
          <v-card-text>
            {{ $t('404. Нет ничего.') }}
          </v-card-text>
        </v-card-row>
      </v-card>
    </component>
  </v-dialog>
</template>

<script>
import {mapGetters} from 'vuex';

import login from '@/components/login.vue';
import register from '@/components/register.vue';
import reset from '@/components/reset.vue';
import imageModal from '@/components/imageModal.vue';
import complain from '@/components/comments/complain.vue';
import * as types from '@/store/mutations-types';
import urlCompiler from '@/mixins/url-compiler';

export default {
  name: 'modal',

  mixins: [urlCompiler],

  computed: {
    ...mapGetters('modal', ['action', 'params']),
    active: {
      get() { return this.$store.getters['modal/active'] },
      set(value) {
        const type = (value === true) ?
          types.MODAL_OPEN : types.MODAL_CLOSE;

        this.$store.commit(`modal/${type}`);
      }
    },

    width() {
      if (this.action === 'imageModal') {
        return 'auto';
      }
    }
  },

  mounted() {
    const route = this.$route;

    this.onChangeRoute(route, route);
  },

  watch: {
    $route(to, from) {
      this.onChangeRoute(to, from);
    },

    active(val) {
      const check = Boolean(!val && this.action);

      if (check) {
        this.$store.commit(`modal/${types.MODAL_CHANGE_ACTION}`, null);
      }
    },

    action(action) {
      if (action === 'imageModal') {
        return;
      }

      if (action) {
        this.$router.push(this.compileUrl('_modal', action));
      }
      else {
        this.$router.push(this.cleanUrl('_modal'));
      }
    }
  },

  methods: {
    onChangeRoute(to, from) {
      if ('_modal' in to.query && to.query._modal) {
        this.$store.dispatch('modal/open', to.query._modal);
      }
      else if (this.active) {
        this.$store.dispatch('modal/close');
      }
    },

    closeModal: function() {
      if (this.action) {
        this.$store.commit(`modal/${types.MODAL_CHANGE_ACTION}`, null);
      }
      else {
        this.$store.commit(`modal/${types.MODAL_CLOSE}`);
      }

      this.$store.dispatch('modal/close');
    }
  },

  components: {
    login,
    register,
    reset,
    imageModal,
    complain
  }
};
</script>

<style>
.modal {
  position: relative;
  overflow: visible;
}
.modal--close {
  position: absolute;
  right: -62px;
}
</style>