<template>
  <div class="navigation">
    <v-btn flat v-for="(link, index) in links" :to="{name: link.name}" :key="index" exact class="navigation__link">{{ $t(link.text) }}</v-btn>
  </div>
</template>

<script>
export default {
  name: 'navigation',
  data() {
    return {
      links: [
        {name: 'map', text: 'Карта'},
        {name: 'history.all', text: 'История'},
        {name: 'help', text: 'Помощь'},
        {name: 'about', text: 'О проекте'},
        {name: 'contacts', text: 'Контакты'},
      ]
    }
  }
}
</script>

<style scoped>
.navigation__link {
  margin: 0;
  line-height: 64px;
  height: 100%;
}
</style>