<template>
  <div class="overlay" :class="{active: active}"></div>
</template>

<script>
export default {
  name: 'tr-overlay',

  props: {
    active: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style scoped>
  .overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.3);

    transition-property: opacity, visibility;
    transition-duration: 0.3s;

    width: 0%;
    height: 0%;
    visibility: hidden;
    opacity: 0;
  }

  .active {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
  }
</style>