<template>
  <centered-content>
    <div class="page-body" v-html="html"></div>
  </centered-content>
</template>

<script>
import {mapGetters} from 'vuex'
import centeredContent from '@/components/centered-content.vue';

export default {
  name: 'page',
  props: ['name'],
  components: {centeredContent},
  data() {
    return {
      html: ''
    }
  },
  computed: {
    ...mapGetters([
      'currentLanguage'
    ])
  },
  watch: {
    currentLanguage: async function(lang) {
      await this.loadPage(this.name, lang);
    }
  },
  async mounted() {
    await this.loadPage(this.name, this.currentLanguage);
  },
  methods: {
    async loadPage(name, lang) {
      const page_path = `/pages/${name}/${lang}.html`;
      this.$store.dispatch('loadingResource', page_path);
      
      try {
        const response = await this.$http.get(page_path);
        this.html = response.body;
      } catch (error) {
        this.$store.dispatch('fireServerError', error);
      } finally {
        this.$store.dispatch('loadedResource', page_path);
      }
    }
  }
};
</script>

<style>
.page-body h1 {
  font-size: 34px;
  font-weight: 400;
}
</style>