<template>
  <v-card>
    <v-card-title>
      <div class="headline">{{ $t('Регистрация') }}</div>
    </v-card-title>
    <v-card-text>
      <v-text-field
        :label="$i18n.t('Имя пользователя')"
        v-model="login"
        :disabled="disabled"
        :rules="errors.login"
        required
        autofocus
      ></v-text-field>
      <v-text-field
        :label="$i18n.t('E-mail')"
        v-model="email"
        :disabled="disabled"
        :rules="errors.email"
        required
      ></v-text-field>
      <v-text-field
        :label="$i18n.t('Подтвердите e-mail')"
        v-model="confirmEmail"
        :disabled="disabled"
        :rules="errors.confirmEmail"
        required
      ></v-text-field>
      <v-text-field
        :label="$i18n.t('Пароль')"
        v-model="password"
        :disabled="disabled"
        :rules="errors.password"
        :append-icon="password_hide ? 'visibility_off' : 'visibility'"
        :append-icon-cb="() => (password_hide = !password_hide)"
        :type="password_hide ? 'password' : 'text'"
        required
      ></v-text-field>
      <v-text-field
        :label="$i18n.t('Подтвердите пароль')"
        v-model="confirmPassword"
        :disabled="disabled"
        :rules="errors.confirmPassword"
        :append-icon="password_confirm_hide ? 'visibility_off' : 'visibility'"
        :append-icon-cb="() => (password_confirm_hide = !password_confirm_hide)"
        :type="password_confirm_hide ? 'password' : 'text'"
        required
      ></v-text-field>
      <p>{{ $t('Регистрируясь вы соглашаетесь с') }} <router-link :to="{ name: 'agreements' }">{{ $t('пользовательским соглашением.') }}</router-link></p>
    </v-card-text>
    <v-card-actions class="blue-grey darken-1 mt-0">
      <v-btn
        light
        info
        flat="flat"
        class="white--text"
        :disabled="disabled"
        v-on:click.native="(e) => { openModal('login') }"
      >{{ $t('Войти') }}</v-btn>
      <v-btn
        primary dark
        :loading="loading"
        @click.native="register()"
        :disabled="disabled"
      >{{ $t('Зарегистрироваться') }}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import title from '@/mixins/title';
import validForm from '@/mixins/valid-form';
import {mapActions, mapGetters} from 'vuex';

export default {
  mixins: [title, validForm],
  title: 'Регистрация',

  name: 'register',

  data() {
    return {
      login: '',
      email: '',
      password: '',
      confirmPassword: '',
      confirmEmail: '',
      password_hide: true,
      password_confirm_hide: true,
      fields: [
        'login',
        'email',
        'password',
        'confirmPassword',
        'confirmEmail',
      ]
    }
  },

  methods: {
    async register() {
      const operation = this.$store.dispatch('account/register', {
        login: this.login,
        email: this.email,
        password: this.password,
        confirmPassword: this.confirmPassword,
        confirmEmail: this.confirmEmail
      });

      await this.runOperation(operation);

      this.$store.commit('modal/MODAL_CHANGE_ACTION', null);
    },
    openModal(action) {
      this.$store.commit('modal/MODAL_CHANGE_ACTION', action);
    }
  }
};
</script>
