<template>
  <v-card>
    <v-card-title>
      <div class="headline">{{ $t('Восстановить пароль') }}</div>
    </v-card-title>
    <v-card-text>
      <v-text-field
        v-model="email"
        type="text"
        required
        autofocus
        :label="$t('Почтовый адрес')"
        :disabled="disabled"
        :rules="errors.email">
      </v-text-field>
    </v-card-text>
    <v-card-actions class="blue-grey darken-1 mt-0">
      <v-btn
        primary dark
        :loading="loading"
        @click.native="reset()"
        :disabled="disabled"
      >{{ $t('Восстановить пароль') }}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import title from '@/mixins/title';
import validForm from '@/mixins/valid-form';

export default {
  mixins: [title, validForm],
  title: 'Восстановить пароль',

  name: 'reset-password',

  data() {
    return {
      email: '',
      fields: ['email']
    }
  },

  methods: {
    async reset() {
      const data = {email: this.email};
      const operation = this.$store.dispatch(
        'account/resetPassword', data);

      await this.runOperation(operation);
      this.$store.commit('modal/MODAL_CHANGE_ACTION', null);
    }
  }
};
</script>

<style scoped>
</style>