<template>
  <v-toolbar class="white sc-root" floating dense style="z-index: 1;">
    <v-text-field
      hide-details single-line
      class="sc-input"
      ref="input"
      :name="name"
      :placeholder="$t('Поиск по карте')"
      autocomplete="off"
      v-model="value"
      @focus="onFocusInput"
      @keyup.enter.native="findAndChangeCoords"
    ></v-text-field>
    <v-btn icon class="sc-btn blue--text text--darken-2" :disabled="value.length === 0" @click.native="findAndChangeCoords">
      <v-icon light>search</v-icon>
    </v-btn>
    <v-list :class="{ active: active && hints.length > 0 }" class="sc-hints elevation-2">
      <template v-for="(hint, index) in hints">
        <v-list-tile class="sc-hint">
          <v-list-tile-content @click="selectHint(hint)">
            <v-list-tile-sub-title>{{ hint.description }}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
      </template>
    </v-list>
  </v-toolbar>
</template>

<script>
import Vue from 'vue';
import debounce from 'lodash.debounce';
import {mapActions, mapGetters} from 'vuex';
import urlCompiler from '@/mixins/url-compiler';

/* задержка перед проверкой введенных данных */
const DELAY = 500;
/* возможные типы ввода координат */
const TYPES = {
  // адрес места
  ADDRESS: 0,
  // координаты
  COORDS: 1,
  // идентификатор точки
  POINT: 2
};

export default {
  name: 'searchCoord',

  mixins: [urlCompiler],

  data() {
    return {
      coords: {},
      value: '',
      hints: [],
      active: false,

      type: null,
      optionType: {}
    };
  },

  model: {
    prop: 'coords',
    event: 'change'
  },

  computed: {
    autocompleter() {
      return new google.maps.places.AutocompleteService();
    },

    geocoder() {
      return new google.maps.Geocoder();
    },

    ...mapGetters({generateUrl: 'api/fullUrl'})
  },

  props: {
    name: {
      type: String,
      default: 'search'
    },
    /* флаг загрузки google-библиотеки */
    loadedLibrary: {
      type: Boolean,
      default: false
    }
  },

  watch: {
    value(newValue, oldValue) {
      if (newValue === '' || this.active === false) {
        return;
      }

      this.clear();
      this.changeInput(newValue);
    },

    coords(newValue, oldValue) {
      this.$emit('change', newValue);
    }
  },

  created() {
    document.addEventListener('click', event => {
      if (
        this.$refs &&
        this.$refs.input &&
        this.$refs.input.$el &&
        this.$refs.input.$el.contains(event.target)
      ) {
        return true;
      }

      this.onBlurInput();
    });
  },

  methods: {
    ...mapActions({
      responseError: 'fireResponseError',
      serverError: 'fireServerError'
    }),
    onFocusInput() {
      this.active = true;
    },
    onBlurInput() {
      this.active = false;
    },

    /**
     * очистка всех данных поиска
     */
    clear() {
      this.type = null;
      this.optionType = {};
      this.hints = [];
      this.placeId = '';
    },

    /**
     * поиск координат по введенным данным и применение их
     */
    findAndChangeCoords() {
      if (this.value === '') {
        return;
      }

      let promise = Promise.resolve();

      switch (this.type) {
        case TYPES.ADDRESS:
          const options = {};

          if (this.optionType.placeId !== void 0) {
            options.placeId = this.optionType.placeId;
          }
          else {
            options.address = this.value;
          }

          promise = this.geocode(options);
          break;
        case TYPES.COORDS:
          promise = new Promise((resolve, reject) => {
            const coords = this.value.split(/,/);
            const lng = Number(coords[0]);
            const lat = Number(coords[1]);

            resolve({
              lat: lat,
              lng: lng
            })
          });
          break;
        case TYPES.POINT:
          promise = this.pointId({
            id: this.value
          });
          break;
      }

      promise.then((coords = {}) => {
        if (!coords.lat || !coords.lng) {
          return;
        }

        this.coords = coords;
      })
      .catch(error => console.error(error))
    },

    changeInput: debounce(function(input) {
      const startNumberRegexp = /^[\d-]+/;
      const coordsRegxp = /^(\-?\d+(\.\d+)?),\s*(\-?\d+(\.\d+)?)$/;
      const pointIdRegexp = /^[a-f\d]{24}$/ui;

      if (startNumberRegexp.test(input)) {
        if (coordsRegxp.test(input)) {
          this.type = TYPES.COORDS;
        }
        else if (pointIdRegexp.test(input)) {
          this.type = TYPES.POINT;
        }
      } else {
        this.type = TYPES.ADDRESS;
        this.autocomplete(input);
      }
    }, DELAY),

    /**
     * поиск подсказок
     *
     * @param  {String} input введенная строка
     */
    autocomplete(input) {
      this.autocompleter.getPlacePredictions({input},
        (predictions, status) => {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            this.hints = predictions;
          }
          else if (status !== google.maps.places.PlacesServiceStatus.ZERO_RESULTS) {
            console.error(status, predictions);
          }
        });
    },

    /**
     * выбор подсказки
     *
     * @param  {Object} hint подсказка
     */
    selectHint(hint = {}) {
      if (!('place_id' in hint) || hint.place_id === void 0) {
        return;
      }

      this.active = false;
      this.value = hint.description;
      this.optionType = {placeId: hint.place_id};
    },

    /**
     * получение координат по месту
     *
     * @param  {Object} options опции поиска координат
     */
    geocode(options) {
      return new Promise((resolve, reject) => {
        this.geocoder.geocode(options, (results, status) => {
          if (status !== 'OK') {
            reject({status, results})
            return;
          }

          if (!Array.isArray(results) && results.length < 1) {
            return;
          }

          const {lat, lng} = results[0].geometry.location;

          resolve({lat: lat(), lng: lng()});
        });
      });
    },

    /**
     * Поиск точки по ИД в базе
     * 
     * @param  {Object} options
     * @return {Promise}
     */
    async pointId(options) {
      const url = this.generateUrl({name: 'point.detail', params: {id: options.id}});

      try {
        const response = await Vue.http.get(url);
        const coords = {
          lat: response.body.y,
          lng: response.body.x
        };

        this.$router.push(this.compileUrl('center', `${coords.lat}-${coords.lng}`));
        this.$router.push(this.compileUrl('point', response.body._id));
        
        return coords;
      } catch (error) {
        if (error instanceof Error) {
          throw error;
        }

        if (error.status < 500) {
          await this.responseError(error);
        }
        else {
          await this.serverError(error);
        }
      }
    }
  }
}
</script>

<style scoped>

  .sc-input {
    min-width: 230px;
  }

  .sc-btn {
    margin: 0 16px 0 0;
    float: right;
  }

  .sc-hints {
    padding: 0;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    display: none;
    max-height: none;
  }
  .sc-hints.active {
    display: block;
  }

  .sc-hints:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 16px;
    text-align: right;
    display: block;
    background-image: url('https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px 14px
  }

  .sc-hint {
    cursor: pointer;
    padding: 5px;
  }
  .sc-hint:hover {
    background-color: #e0e0e0;
  }
</style>