<template>
  <v-card>
    <v-card-title>
      <div class="headline">{{ $t('Пожаловаться на комментарий') }}</div>
    </v-card-title>
    <v-card-text v-if="params.comment">
      <div class="comment-info">
        <v-text-field
          :value="params.comment.text"
          :label="$i18n.t('Текст комментария')"
          readonly
          hide-details
        ></v-text-field>
      </div>
      <v-text-field
        v-model="text"
        :label="$i18n.t('Текст сообщения')"
        :disabled="disabled"
        :rules="errors.text"
        hide-details
      ></v-text-field>
    </v-card-text>
    <v-card-actions class="blue-grey darken-1 mt-0">
      <v-btn
        light
        info
        flat="flat"
        class="white--text"
        :disabled="disabled"
        :loading="loading"
        @click="onSend"
      >
        {{ $t('Отправить') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import Vue from 'vue';

import title from '@/mixins/title';
import validForm from '@/mixins/valid-form';
import {mapActions, mapGetters} from 'vuex';

export default {
  mixins: [title, validForm],
  title: 'Пожаловаться на комментарий',

  name: 'complain-comments',

  props: {
    params: {
      type: Object,
      default: {}
    }
  },

  data() {
    return {
      text: '',
      fields: ['text']
    }
  },

  computed: {
    ...mapGetters({
      generateUrl: 'api/fullUrl',
      center: 'map/center'
    }),

    link() {
      const center = this.center;
      const url = this.$router.match({
        name: 'map',
        query: {
          point: this.params.pointId,
          center: `${center.lng},${center.lng}`,
          zoom: 16,
          comments: this.params.pointId,
          comment: this.params.comment._id}
      }).fullPath;

      return url;
    }
  },

  methods: {
    ...mapActions({
      responseError: 'account/responseError',
      responseSuccess: 'fireResponseSuccess'
    }),

    async onSend() {
      const operation = this.send();

      await this.runOperation(operation);

      this.$store.commit('modal/MODAL_CHANGE_ACTION', null);
      this.$store.commit('modal/MODAL_CHANGE_PARAMS', {});
    },

    async send() {
      const url = this.generateUrl({
        name: 'comments.complain',
        params: {
          point_id: this.params.pointId,
          comment_id: this.params.comment._id
        }
      });

      try {
        const response = await Vue.http.post(url, {
          text: this.text
        });

        await this.responseSuccess(response);
      }
      catch (error) {
        await this.responseError(error);
      }
    }
  }
};
</script>

<style scoped>
  .comment-info {
    word-wrap: break-word;
    margin-bottom: 20px;
  }
  .comment__link {
    display: block;
    margin-bottom: 10px;
  }
</style>
