<template>
  <div class="c-root" ref="cRoot" style="z-index: 1;">
    <v-btn icon class="c-root--close" @click.native="onCancel" v-if="toggle">
      <v-icon>close</v-icon>
    </v-btn>

    <v-navigation-drawer
      class="grey lighten-4 pb-0 root"
      absolute
      height="100%"
      light
      right
      :value="toggle"
      disableRouteWatcher
      v-show="toggle"
    >
    <v-card class="grey lighten-4 elevation-0 content">
      <v-subheader v-text="$t('Комментарии')"></v-subheader>
      <template v-for="(comment, key) in comments">
        <v-divider :key="key + '_divider'"></v-divider>

        <div :key="key" :class="{comment: true, 'comment--reply': comment.parentId, 'comment-selected': comment.selected}">
          <div class="comment__header grey--text">
            <router-link :to="{name: 'profile.detail', params: {login: comment.author.login}}">{{ comment.author.login }}</router-link>
            <span class="comment__date">{{ comment.created | moment("DD.MM.YYYY HH:mm") }}</span>
          </div>

          <div class="comment__text">{{comment.text}}</div>

          <div class="comment__files">
            <div v-for="file in comment.files"
              :key="file.path"
              class="comment-image-container"
            >
              <img class="comment-image-thumbnail--saved"
                :src="file.thumbnail"
                @click="showImageInModal(file.path)" />
            </div>
          </div>

          <div class="comment__actions">
            <a
              v-if="authenticated && !comment.parentId"
              class="comment__reply-btn"
              href="#"
              @click.prevent="showForm($event, comment)"
            >{{ $t('Ответить') }}</a>

            <template v-if="checkPermEdit(comment)">
              &nbsp;<a
                class="comment__change-btn"
                href="#"
                @click.prevent="showForm($event, comment, true)"
              >{{ $t('Редактировать') }}</a>
            </template>

            <template v-if="checkPermEdit(comment)">
              &nbsp;<a
                v-if="!comment.confirmDelete"
                class="comment__edit-btn"
                href="#"
                @click.prevent="confirmDeleteComment(comment)"
              >{{ $t('Удалить') }}</a>
              <a
                v-if="comment.confirmDelete"
                class="comment__edit-btn red--text"
                href="#"
                @click.prevent="deleteComment(comment)"
              >{{ $t('Удалить комментарий!') }}</a>
            </template>

            &nbsp;<a
              class="comment__complain-btn"
              href="#"
              @click.prevent="onComplain(comment)"
            >{{ $t('Жалоба') }}</a>
          </div>
        </div>
      </template>

      <div ref="inputFormBase"
        class="input-form-base"
      >
        <v-card ref="inputForm"
          class="input-form"
          v-show="authenticated"
        >
          <v-text-field
            textarea
            rows="8"
            hide-details
            class="input-field"
            name="text"
            :label="$t('Текст сообщения. Фото до 4 шт., 1 MB')"
            v-model="inputText"
          ></v-text-field>

          <div class="comment__files">
            <div v-for="file in selectedLocalFiles"
              :key="file.thumbnail"
              class="comment-image-container"
            >
              <img class="comment-image-thumbnail" :src="file.thumbnail" />
              <v-btn icon
                :disabled="disabled"
                class="comment-image-remove"
                @click.native="onRemoveFile(file)"
              ><v-icon class="red--text text--lighten-1">delete</v-icon></v-btn>
            </div>
          </div>

          <div class="input-form-base__buttons">
            <v-btn icon
              class="btn-add-files"
              :disabled="disabled || !canAddFiles"
              :loading="loading"
              @click.native="onAddFile"
            >
              <v-icon primary>photo_camera</v-icon>
              <input ref="inputFiles"
                multiple
                class="add-input-files"
                type="file"
                accept="image/jpeg,image/png"
                @change="onChangeAddFile" />
            </v-btn>

            <v-btn
              light info
              class="white--text"
              :disabled="disabled || inputText.length < 1"
              :loading="loading"
              @click.native="onSend"
            >{{ $t('Отправить') }}</v-btn>

            <v-btn v-if="reply !== null"
              light info
              class="white--text"
              :disabled="disabled"
              :loading="loading"
              @click.native="onCloseForm"
            >{{ $t('Закрыть') }}</v-btn>
          </div>
        </v-card>
      </div>
    </v-card>
  </v-navigation-drawer>
  </div>
</template>
<script>
import Vue from 'vue';

import {mapActions, mapGetters} from 'vuex';

const MAX_FILES = 4;
const MAX_SIZE_FILE = 1 * 1024 * 1024;

async function setThumbnailInLocalFiles(files = []) {
  files = await Promise.all(files.map(file =>
    new Promise((resolve, reject) => {
      const reader = new FileReader();

      reader.onload = event => {
        file.thumbnail = event.target.result;
      };
      reader.onloadend = event => {
        resolve();
      };

      reader.readAsDataURL(file);
    })
  ));

  return files;
}

function getDefaultData() {
  return {
    toggle: false,
    loading: false,
    disabled: false,
    comments: [],
    inputText: '',
    selectedLocalFiles: [],
    reply: null,
    edit: null
  };
}

export default {
  name: 'comments',
  props: {
    pointId: String,
    selected: String
  },

  data() {
    return getDefaultData();
  },

  computed: {
    ...mapGetters({
      generateUrl: 'api/fullUrl',
      currentUser: 'account/user',
      authenticated: 'account/authenticated'
    }),

    canAddFiles() {
      const count = this.selectedLocalFiles.length;

      return count < MAX_FILES;
    }
  },

  watch: {
    async pointId(newVal, oldVal) {
      this.showForm();

      if (Object.is(newVal, null)) {
        this.refresh();

        return;
      }

      this.toggle = true;

      await this.loadList();
    },

    selected(newVal, oldVal) {
      this.comments.forEach(comment => {
        comment.selected = (newVal === comment._id);
      });
    },

    edit(newVal) {
      if (newVal !== null) {
        this.inputText = newVal.text;
        this.selectedLocalFiles = newVal.files.concat();
      }
      else {
        this.selectedLocalFiles = [];
      }
    },

    toggle(newVal) {
      this.$emit('toggle_panel', newVal);
      this.$emit('change_panel', newVal === true ? 'comments' : '');
    }
  },

  methods: {
    ...mapActions({
      showSuccess: 'fireSuccess',
      responseError: 'fireResponseError',
      serverError: 'fireServerError',
      showError: 'fireError'
    }),

    refresh() {
      const data = getDefaultData();

      Object.keys(data).forEach(key => {
        this[key] = data[key];
      });
    },

    async loadList() {
      const url = this.generateUrl({
        name: 'comments.list',
        params: {
          'point_id': this.pointId
        }
      });

      this.disabled = true;
      this.loading = true;

      try {
        const response = await Vue.http.get(url);
        const comments = response.body;

        comments.map(comment => {
          comment.selected = (this.selected && this.selected === comment._id);
          comment.confirmDelete = false;
        });

        Vue.set(this, 'comments', comments);
      }
      catch (error) {
        if (error instanceof Error) {
          throw error;
        }

        if (error.status < 500) {
          await this.responseError(error);
        }
        else {
          await this.serverError(error);
        }
      }

      this.disabled = false;
      this.loading = false;
    },

    showForm(event, reply = null, editMode = false) {
      /*if (reply === this.reply) {
        return;
      }*/

      if (Object.is(reply, null)) {
        const $container = this.$refs.inputFormBase;

        $container.appendChild(this.$refs.inputForm);
      }
      else {
        const $comment = event.target.parentNode;
        const $container = $comment.parentNode;

        $container.insertBefore(this.$refs.inputForm, $comment.nextSibling);
      }

      this.selectedLocalFiles = [];

      if (editMode) {
        this.reply = null;
        this.edit = reply;
      }
      else {
        this.reply = reply;
        this.edit = null;
      }
    },

    onAddFile() {
      this.$refs.inputFiles.value = '';
      this.$refs.inputFiles.click();
    },
    async onChangeAddFile(event) {
      const selectedFiles = event.target.files;
      const allFiles = this.selectedLocalFiles.length;

      if (allFiles > MAX_FILES) {
        this.showError(this.$t('Максимальное количество файлов') + ' - 4');

        return;
      }

      let files = [];

      for (let index = 0; index < selectedFiles.length; index++) {
        const file = selectedFiles[index];

        if (file.size > MAX_SIZE_FILE) {
          this.showError(this.$t('Максимальный размер файла') + ' - 1MB');

          return;
        }

        files.push(file);
      }

      if (files.length === 0) {
        return true;
      }

      this.loading = true;

      try {
        await setThumbnailInLocalFiles(files);

        Vue.set(
          this,
          'selectedLocalFiles',
          this.selectedLocalFiles.concat(files)
        );
      }
      catch (error) {
        throw error
      }
      finally {
        this.loading = false;
      }
    },

    onRemoveFile(file) {
      const whiteFiles = this.selectedLocalFiles.filter(localFile =>
        (file.path && (file.path !== localFile.path)) ||
        (file.name !== localFile.name) &&
        (file.size !== localFile.size)
      );

      Vue.set(
        this,
        'selectedLocalFiles',
        whiteFiles
      );
    },

    onCloseForm(event) {
      this.showForm();
    },

    onCancel() {
      this.$emit('cancel');
    },

    async onSend() {
      this.disabled = true;
      this.loading = true;

      try {
        if (this.edit !== null) {
          await this.editComment();
        }
        else {
          await this.addComment();
        }
      }
      catch (error) {
        if (error instanceof Error) {
          throw error;
        }

        if (error.status < 500) {
          await this.responseError(error);
        }
        else {
          await this.serverError(error);
        }
      }
      finally {
        this.disabled = false;
        this.loading = false;

        //if (this.reply) {
          this.onCloseForm();
        //}
      }
    },

    async addComment() {
      const url = this.generateUrl({
        name: 'comments.add',
        params: {
          'point_id': this.pointId
        }
      });

      const formData = new FormData();

      formData.append('text', this.inputText);

      if (this.reply) {
        formData.append('parentId', this.reply._id);
      }

      this.selectedLocalFiles.forEach(file => {
        formData.append('files', file);
      });

      const response = await Vue.http.post(url, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      });

      response.body.confirmDelete = false;

      if (this.reply) {
        const lastIndex = this.comments.length - 1;
        let index;

        this.comments.find((comment, ind) => {
          if (
            (index !== void 0 && comment.parentId === null)
            || index === lastIndex
          ) {
            return true;
          }

          if (
            comment._id === this.reply._id
            || comment.parentId === this.reply._id
          ) {
            index = ind;
          }
        });
        this.comments.splice(index + 1, 0, response.body);
      }
      else {
        this.comments.push(response.body);
      }

      this.inputText = '';
    },

    async editComment() {
      const url = this.generateUrl({
        name: 'comments.change',
        params: {
          'point_id': this.pointId,
          'comment_id': this.edit._id
        }
      });

      const formData = new FormData();

      formData.append('text', this.inputText);

      this.selectedLocalFiles.forEach(file => {
        // у локального файла нету св-ва path
        formData.append('files', file.path ? JSON.stringify(file) : file);
      });

      const response = await Vue.http.put(url, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      });

      this.edit.text = response.body.text;
      this.edit.files = response.body.files;

      this.inputText = '';
    },

    confirmDeleteComment(comment) {
      comment.confirmDelete = true;
    },

    async deleteComment(comment) {
      const url = this.generateUrl({
        name: 'comments.delete',
        params: {
          'point_id': this.pointId,
          'comment_id': comment._id
        }
      });

      this.disabled = true;
      this.loading = true;

      try {
        await Vue.http.delete(url);

        const startIndex = this.comments.findIndex(
          item => item._id === comment._id);
        let count = 1;

        if (comment.parentId === null) {
          for (let ind = startIndex + 1; ind < this.comments.length; ind++) {
            const curComment = this.comments[ind];

            if (!curComment || curComment.parentId === null) {
              break;
            }

            if (curComment.parentId === comment._id) {
              count++;
            }
          }
        }

        this.comments.splice(startIndex, count);
      }
      catch (error) {
        if (error instanceof Error) {
          throw error;
        }

        if (error.status < 500) {
          await this.responseError(error);
        }
        else {
          await this.serverError(error);
        }
      }

      this.disabled = false;
      this.loading = false;
    },

    async onComplain(comment) {
      this.$store.commit('modal/MODAL_CHANGE_ACTION', 'complain');
      this.$store.commit('modal/MODAL_CHANGE_PARAMS', {
        comment,
        pointId: this.pointId
      });
    },

    checkPermOwner(comment) {
      return this.currentUser._id === comment.author._id;
    },

    checkPermEdit(comment) {
      const roles = (this.currentUser && this.currentUser.roles) || [];
      const roleConfirm = roles.find(role => {
        const isModer = role === 'moderator';
        const isAdmin = role === 'admin';

        return isModer || isAdmin;
      });

      return roleConfirm || this.checkPermOwner(comment);
    },

    showImageInModal(filePath) {
      this.$store.commit('modal/MODAL_CHANGE_PARAMS', {src: filePath});
      this.$store.commit('modal/MODAL_CHANGE_ACTION', 'imageModal');
      this.$store.commit('modal/MODAL_OPEN');
    }
  }
};
</script>

<style scope>
  .root {
    top: 0!important;
    z-index: 1!important;
    min-width: 350px;
  }
  .c-root {
    bottom: 0;
  }

  .c-root .c-root--close {
    position: absolute;
    right: 350px;
    height: 36px;
  }

  .notif-chb {
    padding-top: 0;
  }

  .comment {
    line-height: 1;
    padding: 10px;
  }
  .comment--reply {
    margin-left: 15px;
  }
  .comment-selected {
    background-color: rgba(255,255,255,0.8);
  }
  .comment__header {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .comment__date {
    margin-left: 10px;
  }
  .comment__text {
    font-size: 15px;
    margin-bottom: 10px;
  }


  .comment__files {
    display: flex;
    margin-bottom: 10px
  }
  .comment-image-container {
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border: 1px solid #efefef;
    position: relative;
    text-align: center;
  }
  .comment-image-thumbnail,
  .comment-image-thumbnail--saved {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .comment-image-thumbnail--saved {
    cursor: pointer;
  }
  .comment-image-remove {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 1;
    width: 28px;
    height: 27px;
    padding: 0;
    background-color: #fff;
  }
  .comment-image-remove * {
    font-size: 15px;
  }

  .input-form {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
  .input-form-base__buttons {
    margin-bottom: 10px;
  }
  .input-field {
    padding-bottom: 0px;
  }
  .input-field textarea {
    resize: none;
  }
  .btn-add-files {
    overflow: hidden;
  }
  .add-input-files {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
</style>
