<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :loading="loading"
    hide-actions
  >
    <template slot="items" scope="props">
      <td v-if="isWhiteField('created')">
        {{ props.item.created | moment("DD.MM.YYYY HH:mm") }}
      </td>
      <td v-if="isWhiteField('pointId')">
        <router-link :to="{name: 'history.point', params: {pid: props.item.pointId}}">{{props.item.pointId}}</router-link>
      </td>
      <td v-if="isWhiteField('changed')">
        {{ createTemplate(props.item) }}
      </td>
      <td v-if="isWhiteField('author')">
        <router-link :to="{name: 'profile.detail', params: {login: props.item.author.login}}">{{ props.item.author.login }}</router-link>
      </td>
    </template>
  </v-data-table>
</template>
<script>
import Vue from 'vue';
import Point from '@/libs/point';
import {pointCL as PointCLModel} from '@/libs/models';

const blackList = ['pointId', 'author', 'created', '_id'];
const cachedInfos = {};

export default {
  name: 'changed-points',

  props: {
    items: Array,
    loading: Boolean,
    whiteFields: Array
  },

  data() {
    const whiteFields = this.whiteFields ?
      this.whiteFields : Object.keys(this.getPossibleHeaders());

    return {
      fields: whiteFields
    };
  },

  computed: {
    headers() {
      const headers = [];

      this.fields.forEach(name => headers.push(this.possibleHeaders[name]));

      return headers;
    },

    possibleHeaders() {
      return this.getPossibleHeaders();
    }
  },

  methods: {
    isWhiteField(name) {
      return this.fields.indexOf(name) !== -1;
    },

    createTemplate(item) {
      const model = new PointCLModel(item);

      model.setLocaleTransformer(this.$t.bind(this));

      return model.toFieldsString();
    },

    getProfileUrl(login) {
      const url = this.$router.match({
        name: 'profile.detail',
        params: {login}
      }).fullPath;

      return url;
    },

    getPointUrl(point) {
      const url = this.$router.match({
        name: 'map',
        query: {
          point: point._id,
          center: `${point.x},${point.y}`
        }
      }).fullPath;

      return url;
    },

    getPossibleHeaders() {
      return {
        created: {
          text: this.$t('Дата'),
          value: 'created',
          sortable: false,
          align: 'left'
        },
        pointId: {
          text: 'ID',
          value: 'pointId',
          sortable: false,
          align: 'left'
        },
        changed: {
          text: this.$t('Изменения'),
          sortable: false,
          align: 'left'
        },
        author: {
          text: this.$t( Point.getLabelField('author') ),
          value: 'author',
          sortable: false,
          align: 'left'
        }
      };
    }
  }
}
</script>
