<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :loading="loading"
    hide-actions
  >
    <template slot="items" scope="props">
      <td v-if="isWhiteField('created')">
        {{ props.item.created | moment("DD.MM.YYYY HH:mm") }}
      </td>
      <td v-if="isWhiteField('pointId')">
        <router-link :to="{name: 'map', query: {point: props.item.pointId, center: props.item.x + ',' + props.item.y, zoom: 16, comments: props.item.pointId, comment: props.item._id}}">{{ props.item.pointId }}</router-link>
      </td>
      <td v-if="isWhiteField('text')">
        {{ props.item.text }}
      </td>
      <td v-if="isWhiteField('author')">
        <router-link :to="{name: 'profile.detail', params: {login: props.item.author.login}}">{{ props.item.author.login }}</router-link>
      </td>
    </template>
  </v-data-table>
</template>
<script>
import Point from '@/libs/point';

export default {
  name: 'comments-points',

  props: {
    items: Array,
    loading: Boolean,
    whiteFields: Array
  },

  data() {
    const whiteFields = this.whiteFields ?
      this.whiteFields : Object.keys(this.getPossibleHeaders());

    return {
      fields: whiteFields
    };
  },

  computed: {
    headers() {
      const headers = [];

      this.fields.forEach(name => headers.push(this.possibleHeaders[name]));

      return headers;
    },

    possibleHeaders() {
      return this.getPossibleHeaders();
    }
  },

  methods: {
    isWhiteField(name) {
      return this.fields.indexOf(name) !== -1;
    },

    getPossibleHeaders() {
      return {
        created: {
          text: this.$t('Дата'),
          value: 'created',
          sortable: false,
          align: 'left'
        },
        pointId: {
          text: 'ID',
          value: 'pointId',
          sortable: false,
          align: 'left'
        },
        text: {
          text: this.$t('Комментарий'),
          value: 'text',
          sortable: false,
          align: 'left'
        },
        author: {
          text: this.$t( Point.getLabelField('author') ),
          value: 'author',
          sortable: false,
          align: 'left'
        }
      };
    }
  }
}
</script>
