<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :loading="loading"
    hide-actions
  >
    <template slot="items" scope="props">
      <td v-if="isWhiteField('created')">
        {{ props.item.created | moment("DD.MM.YYYY HH:mm") }}
      </td>
      <td v-if="isWhiteField('_id')">
        <router-link :to="{name: 'map', query: {point: props.item._id, center: props.item.x + ',' + props.item.y, zoom: 16}}">{{ props.item._id }}</router-link>
      </td>
      <td v-if="isWhiteField('type')">
        {{ listLabel(props.item, 'type') }}
      </td>
      <td v-if="isWhiteField('comment')">
        {{ props.item.comment }} {{ listLabel(props.item, 'subType') }}
      </td>
      <td v-if="isWhiteField('author')">
        <router-link :to="{name: 'profile.detail', params: {login: props.item.author.login}}">{{ props.item.author.login }}</router-link>
      </td>
    </template>
  </v-data-table>
</template>
<script>
import Vue from 'vue';
import {URL} from '@/libs/url';
import Point from '@/libs/point';

const infos = {
  type: Point.normalizeField({name: 'type', force: true}),
  subType: Point.normalizeField({name: 'subType', force: true})
};

export default {
  name: 'created-points',

  props: {
    items: Array,
    loading: Boolean,
    whiteFields: Array
  },

  data() {
    const whiteFields = this.whiteFields ?
      this.whiteFields : Object.keys(this.getPossibleHeaders());

    return {
      fields: whiteFields
    };
  },

  computed: {
    headers() {
      const headers = [];

      this.fields.forEach(name => headers.push(this.possibleHeaders[name]));

      return headers;
    },

    possibleHeaders() {
      return this.getPossibleHeaders();
    }
  },

  methods: {
    isWhiteField(name) {
      return this.fields.indexOf(name) !== -1;
    },

    listLabel(item, key) {
      const value = item[key];

      if (!value) {
        return '';
      }

      const {text:label} = infos[key].list.find(item => {
        return item.value === value;
      });

      return this.$t(label);
    },

    getPossibleHeaders() {
      return {
        created: {
          text: this.$t('Дата'),
          value: 'created',
          sortable: false,
          align: 'left'
        },
        _id: {
          text: 'ID',
          value: '_id',
          sortable: false,
          align: 'left'
        },
        type: {
          text: this.$t(Point.getLabelField('type')),
          value: 'type',
          sortable: false,
          align: 'left'
        },
        comment: {
          text: this.$t(Point.getLabelField('comment')) + '/' + this.$t(Point.getLabelField('subType')),
          value: 'comment',
          sortable: false,
          align: 'left'
        },
        author: {
          text: this.$t(Point.getLabelField('author')),
          value: 'author',
          sortable: false,
          align: 'left'
        }
      };
    }
  }
}
</script>
