<template>
  <div class="p-root" ref="pRoot">
    <v-btn icon class="p-root--close" @click.native="onCancel" v-if="toggle">
      <v-icon>close</v-icon>
    </v-btn>
    <v-btn
      ref="pBtn"
      light
      slot="activator"
      class="elevation-1"
      @click.native="togglePanel"
    >
      <v-icon dark>add</v-icon>
    </v-btn>
    <v-navigation-drawer
      class="grey lighten-4 pb-0"
      absolute
      height="100%"
      light
      right
      :value="toggle"
      disableRouteWatcher
      v-show="toggle"
    >
      <v-alert info :value="zoom < allowZoom">
        {{ $t('Пожалуйста, приблизте карту.') }}
      </v-alert>
      <v-alert info :value="zoom >= allowZoom && !marker">
        {{ $t('Кликните на карте в нужную точку.') }}
      </v-alert>
      <v-card v-if="marker" class="grey lighten-4 elevation-0">
        <v-card-text>
          <point-field
            v-for="key in sortedFields"
            v-model="point.fields[key]"
            :key="key"
            :info="infoFields[key]"
          ></point-field>
          <point-field
           v-if="point.isChilded()"
           v-model="point.parent.fields['childrens']"
           key="other-point"
           :info="point.parent.info['childrens']"
          ></point-field>
        </v-card-text>
        <v-card-actions class="blue-grey darken-1 mt-0">
          <v-btn
            light
            info
            flat="flat"
            class="white--text"
            v-on:click.native="onSave"
            :disabled="disabledButtons"
          >{{ $t('Сохранить') }}</v-btn>
          <v-btn
            primary dark
            @click.native="onDeleteOtherPoint"
            v-if="point.isChilded()"
          >{{ $t('Удалить') }}</v-btn>
          <v-btn
            dark
            :error="confirmDelete"
            :primary="!confirmDelete"
            @click.native="onDelete"
            v-if="showDeleteButton"
          >{{ $t(confirmDelete ? 'Удалить объект!' : 'Удалить') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-navigation-drawer>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import Vue from 'vue';
import {getDistance, getBearing} from '@/libs/direction';
import mapPointInfo from '@/mixins/map-point-info';
import pointField from './fields/index.vue';
import Icons from '@/libs/icons';

export default {
  name: 'point-editor',

  mixins: [mapPointInfo],

  data() {
    return {
      toggle: false,
      disabledButtons: false,
      point: null,
      distanceMarker: null,
      angleMarker: null,
      allowZoom: 13,
      dragged: false,
      switchedMarker: false,

      showDeleteButton: false,
      confirmDelete: false
    };
  },

  props: {
    lastLatLng: {
      type: Object,
      default: {}
    },
    marker: {
      type: Object
    }
  },

  computed: {
    ...mapGetters({
      center: 'map/center',
      zoom: 'map/zoom',
      generateUrl: 'api/fullUrl',
      authenticated: 'account/authenticated'
    })
  },

  watch: {
    authenticated(val) {
      if (!val) {
        this.clear();
        this.$emit('cancel');
      }
    },
    toggle(newVal, prevVal) {
      let positionRoot;
      let displayButton;

      if (newVal === true) {
        positionRoot = '';
        displayButton = 'none';
      }
      else {
        positionRoot = 'absolute';
        displayButton = 'block';
      }

      this.$refs.pRoot.style.position = positionRoot;
      this.$refs.pBtn.$el.style.display = displayButton;
      this.$emit('toggle_panel', newVal);
      this.$emit('change_panel', newVal === true ? 'editor' : '');
    },
    lastLatLng(latLng) {
      if (this.hasAllowedAddMarker()) {
        if (this.marker === null) {
          this.$emit('add_marker', latLng);
        }
      }
    },
    marker(marker, oldMarker) {
      if (marker === null) {
        this.clear();
      }
      else {
        this.point = marker.$model;
        this.toggle = true;

        this.createControl();
        this.resetListeners();

        if (this.point.hasChildrens() || this.point.isChilded()) {
          this.updateChildListeners();
        }

        Vue.nextTick(() => this.switchedMarker = false);
      }
    },
    distanceMarker(markerObject, oldMarker) {
      if (oldMarker) {
        oldMarker.setMap(null);
      }

      if (markerObject === null) {
        return;
      }

      this.updateControl();

      markerObject.addListener('drag', event => {
        let fromPosition = this.marker.getPosition();
        let distance = Math.round(getDistance(
            fromPosition,
            event.latLng
          ));

        let direction = Math.round(getBearing(
            fromPosition.lat(),
            fromPosition.lng(),
            event.latLng.lat(),
            event.latLng.lng()
          ));

        if (distance > 2000) {
          distance = 2000;
        }

        this.point.fields.distance = distance;
        this.point.fields.direction = direction;

        this.point.updateDirection();
        this.updateControl();
      });
    },
    angleMarker(markerObject, oldMarker) {
      if (oldMarker) {
        oldMarker.setMap(null);
      }

      if (markerObject === null) {
        return;
      }

      this.updateControl();

      markerObject.addListener('drag', event => {
        let fromPosition = this.marker.getPosition();
        let direction = Math.round(getBearing(
            fromPosition.lat(),
            fromPosition.lng(),
            event.latLng.lat(),
            event.latLng.lng()
          ));

        let c = Math.abs(this.point.fields.direction - direction);

        if (c >= 180) {
          c = Math.abs(c - 360);
        }

        if (c > 90) {
          c = 90;
        }
        
        this.point.fields.angle = Math.round(c * 2);

        this.point.updateDirection();
        this.updateControl();
      });
    },
    async point(newVal, prevVal) {
      if (newVal === null || newVal === prevVal) {
        return;
      }

      this.confirmDelete = false;

      if (newVal.isChilded() || newVal.hasChildrens()) {
        this.infoFields = this.getInfoFields(newVal);
      }

      if (!newVal.isChilded()) {
        const hasPerms = await this.checkRole({
          resource: 'point.delete'});

        this.showDeleteButton = hasPerms;
      }
      else {
        this.showDeleteButton = false;
      }
    },
    ['point.fields.type'](newVal, prevVal) {
      if (this.point === null || newVal === prevVal) {
        return;
      }

      if (newVal !== 'speed_cam') {
        this.deleteChilds();
      }

      this.infoFields = this.getInfoFields(this.point);
      this.point.updateIcon();      
    },
    ['point.fields.x'](newVal, prevVal) {
      if (isNaN(newVal) || this.point === null || newVal === prevVal || !newVal) {
        return;
      }

      this.markerMove({lng: newVal});
      this.point.updateDirection();
      this.updateControl();
      this.updateLineBetween(this.point, this.marker.getPosition());
      this.updateCenter();
    },
    ['point.fields.y'](newVal, prevVal) {
      if (isNaN(newVal) || this.point === null || newVal === prevVal || !newVal) {
        return;
      }

      this.markerMove({lat: newVal});
      this.point.updateDirection();
      this.updateControl();
      this.updateLineBetween(this.point, this.marker.getPosition());
      this.updateCenter();
    },
    ['point.fields.distance'](newVal, prevVal) {
      if (this.point === null || newVal === prevVal) {
        return;
      }

      this.point.updateDirection();
      this.updateControl();
    },
    ['point.fields.angle'](newVal, prevVal) {
      if (this.point === null || newVal === prevVal) {
        return;
      }

      this.point.updateDirection();
      this.updateControl();
    },
    ['point.fields.dirType'](newVal, prevVal) {
      if (this.point === null || newVal === prevVal) {
        return;
      }

      this.point.updateDirection();
      this.updateControl();
    },
    ['point.fields.direction'](newVal, prevVal) {
      if (this.point === null || newVal === prevVal) {
        return;
      }

      this.point.updateDirection();
      this.updateControl();
    },
    ['point.fields.speed'](newVal, prevVal) {
      if (
        this.point === null ||
        newVal === prevVal ||
        this.point.fields.type !== 'speed_limit'
      ) {
        return;
      }

      this.point.updateIcon();
    },
    ['point.fields.rating'](newVal, prevVal) {
      if (this.point === null || newVal === prevVal) {
        return;
      }

      if (this.point.hasChildrens()) {
        this.point.redrawChildDirection();
      }

      this.point.redrawDirection();
    },
    ['point.fields.childrens'](newVal, prevVal) {
      if (newVal !== void 0 && newVal.length > 0) {
        this.addOtherPoint(newVal);
      }
    },
    ['point.parent.fields.childrens'](newVal, prevVal) {
      if (newVal !== void 0 && newVal.length > 0) {
        this.addOtherPoint(newVal);
      }
    },
  },

  methods: {
    ...mapActions({
      showSuccess: 'fireSuccess',
      responseError: 'fireResponseError',
      serverError: 'fireServerError',
      showError: 'fireError',
      checkRole: 'account/checkRole'
    }),

    addOtherPoint(newVal) {
      const point = newVal[0];
      const parentPoint = this.point.isChilded()
        ? this.point.parent
        : this.point;

      if (!point.inited) {
        this.$emit('add_other_marker', {
          parent: parentPoint,
          point: point
        });
      }
    },

    updateCenter() {
      if (this.dragged || this.switchedMarker) {
        return;
      }

      this.$store.dispatch('map/setCenter', this.marker.getPosition());
    },

    togglePanel(event) {
      if (!this.authenticated) {
        this.showError('Пожалуйста авторизируйтесь');
        return;
      }

      this.toggle = !this.toggle;
    },

    resetListeners(marker = this.marker) {
      google.maps.event.clearInstanceListeners(marker);

      marker.addListener('dragstart', event => {
        this.dragged = true;
      });

      // при перемещении маркера по карте,
      // изменять значения положения модели.
      marker.addListener('drag', event => {
        this.setPosition(event.latLng);
        this.point.updateDirection();
        this.updateControl();
      });

      marker.addListener('dragend', event => {
        Vue.nextTick(() => this.dragged = false);
      });
    },

    __getParent() {
      return this.point.isChilded()
        ? this.point.parent
        : this.point;
    },

    clearChildListeners() {
      const parent = this.point.getParent();

      for (const point of [parent, ...parent.fields.childrens]) {
        point.clearListeners();
      }
    },

    updateChildListeners() {
      const parent = this.__getParent();
      
      const childs = [parent, ...parent.fields.childrens];

      childs.forEach(child => {
        if (child === this.point) {
          // Добавляем событие на перемещение точки
          child.marker.addListener('drag', event => {
            this.updateLineBetween(this.point, event.latLng);
          });

          this.resetListeners(child.marker);

          return;
        }

        child.marker.addListener('click', event => {
          this.switchedMarker = true;

          // отменяем редактирование текущей точки
          this.$emit('cancel', false);

          // переключаем редактирование на кликнутую точку
          this.$emit('switch_marker_to', child.marker);
        });
      });
    },

    /**
     * Обновляет положение контрол области предупреждения
     */
    updateControl() {
      this.angleMarker.setPosition(this.point.$directionView.getPath().getAt(5));
      this.distanceMarker.setPosition(this.point.$directionView.getPath().getAt(3));
    },

    /**
     * Обновляет положение линии
     *
     * @param {Point} point
     * @param {Object} position
     */
    updateLineBetween(point, position) {
      if (!this.point.hasChildrens() && !this.point.isChilded()) {
        return;
      }

      const parent = this.__getParent();

      parent.updatePositionInPathByLineBetween(parent.indexOfChild(point), position);
    },

    /**
     * Создает контролы управления области предупреждения
     */
    createControl() {
      const directionControl = {
        map: this.marker.getMap(),
        draggable: true,
        crossOnDrag: false,
        icon: {
          url: Icons.Circle_Grey,
          size: new google.maps.Size(12, 12),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(6, 6)
        }
      };
      
      this.distanceMarker = new google.maps.Marker(directionControl);
      this.angleMarker = new google.maps.Marker(directionControl);

      this.updateControl();
    },

    /**
     * Проверяет условия для добавления маркера.
     *
     * @return {Boolean}
     */
    hasAllowedAddMarker() {
      return this.toggle && this.zoom >= this.allowZoom && this.authenticated;
    },

    /**
     * Устанавливает позицию точки.
     *
     * Когда перемещается маркер, нужно сменить значение в моделе.
     *
     * @param {{lat: Number, lang: Number}}
     */
    setPosition(latLng) {
      this.point.fields.y = this.normalizeCoord(latLng, 'lat', 'y').toFixed(this.infoFields.x.precision);
      this.point.fields.x = this.normalizeCoord(latLng, 'lng', 'x').toFixed(this.infoFields.y.precision);
    },

    /**
     * Перемещает маркер.
     *
     * Когда сменились значения в моделе, нужно переместить маркер в новую позицию.
     *
     * @param  {{lat: Number, lang: Number}}
     */
    markerMove(latLng) {
      const lat = this.normalizeCoord(latLng, 'lat', 'y');
      const lng = this.normalizeCoord(latLng, 'lng', 'x');

      const latlng = new google.maps.LatLng({lat, lng})

      this.marker.setPosition(latlng);
    },

    normalizeCoord(latLng, type, fieldType) {
      const coord = latLng[type];
      const isUndef = coord === void 0;

      let normalCoord;

      if (isUndef) {
        normalCoord = this.point.fields[fieldType];
      }
      else {
        const isFunction = (typeof coord === 'function');

        normalCoord = isFunction ? coord() : coord;
      }

      return parseFloat(normalCoord);
    },

    /**
     * очищает компонент
     */
    clear() {
      this.toggle = false;
      this.disabledButtons = false;
      this.point = null;
      this.infoFields = {};
      this.distanceMarker = null;
      this.angleMarker = null;
    },

    /**
     * устанавливает ошибки полям
     *
     * @param  {Object}
     */
    setErrors(errors = {}) {
      this.sortedFields.forEach(fieldName => {
        let errs = errors[fieldName] || [];

        if (!Array.isArray(errs)) {
          errs = [errs];
        }

         Vue.set(this.infoFields[fieldName], 'errors', errs);
      });
    },

    onCancel() {
      if (this.point === null) {
        this.toggle = false;
        return;
      }
      
      const parent = this.point.getParent();

      if (parent.hasChildrens() || this.point.isChilded()) {
        this.clearChildListeners();
      }

      if (parent.fields._id === void 0 && parent.hasChildrens()) {
        this.point.removeOtherPoint();
      }

      this.$emit('cancel');
      this.clear();
    },

    async onSave(event) {
      let point = this.point;

      if (point.isChilded()) {
        point = point.parent;
      }

      let reject = false;

      this.disabledButtons = true;

      try {
        await point.validate();
      }
      catch (errors) {
        reject = true;
        this.showError('Ошибка валидации');
        this.setErrors(errors);
      }

      if (reject) {
        this.disabledButtons = false;

        return;
      }

      try {
        await this.save(point);

        if (point.hasChildrens() || point.isChilded()) {
          this.clearChildListeners();
        }

        this.$emit('save', point);
        this.clear();
      }
      catch (error) {
        throw error;
      }
      finally {
        this.disabledButtons = false;
      }
    },

    async onDelete(event) {
      if (this.confirmDelete === false) {
        this.confirmDelete = true;

        return;
      }

      this.disabledButtons = true;
      this.deleteChilds();
      
      try {
        const id = this.point.fields._id;

        if (id !== void 0) {
          await this.delete();
        }

        this.$emit('delete', id);
        this.point.clear();
        this.clear();

        await this.showSuccess('Объект удален');
      }
      catch (error) {
        throw error;
      }
      finally {
        this.disabledButtons = false;
      }
    },

    onDeleteOtherPoint(event) {
      const parent = this.point.getParent();

      if (this.point.isChilded()) {
        parent.removeChild(this.point);
      }

      parent.updateChildIcons();

      this.$emit('delete');
      this.clear();
      this.$emit('switch_marker_to', parent.marker);
    },

    deleteChilds() {
      if (!this.point.hasChildrens()) {
        return;
      }

      this.point.removeChilds();
    },

    /**
     * сохраняет точку
     */
    async save(point = this.point) {
      const fields = point.fields;
      const isAdd = fields._id === void 0;

      let url;
      let method;

      if (isAdd) {
        url = this.generateUrl({name: 'point.add'});
        method = 'put';
      }
      else {
        url = this.generateUrl({
          name: 'point.change',
          params: {id: fields._id}
        });
        method = 'post';
      }

      try {
        const response = await Vue.http[method](url, fields);

        await this.showSuccess('Точка сохранена');

        Object.keys(response.body).forEach(fieldKey => {
          if (point.fields[fieldKey] !== void 0) {
            return;
          }

          point.fields[fieldKey] = response.body[fieldKey];
        });
      }
      catch (error) {
        if (error instanceof Error) {
          throw error;
        }

        if (error.status < 500) {
          if (error.body) {
            this.setErrors(error.body);
          }

          await this.responseError(error);
        }
        else {
          await this.serverError(error);
        }
      }
    },

    /**
     * удаляет точку
     */
    async delete() {
      const fields = this.point.fields;

      const url = this.generateUrl({
        name: 'point.delete',
        params: {id: fields._id}
      });

      try {
        const response = await Vue.http.delete(url);
      }
      catch (error) {
        if (error instanceof Error) {
          throw error;
        }

        if (error.status < 500) {
          await this.responseError(error);
        }
        else {
          await this.serverError(error);
        }
      }
    }
  },

  components: {pointField}
};
</script>

<style>
.p-root .btn {
  min-width: 28px;
  height: 27px;
  padding: 0;
  background: #fff;
}

.p-root .p-root--close {
  position: absolute;
  right: 300px;
  height: 36px;
}

.p-root .btn * {
  font-size: 15px;
}

.p-root .btn__content {
  padding: 0 6px;
}

.p-root .card__actions {
  padding: 8px 4px 28px;
}

.p-root .point-field.point-field-type__date.point-field-name__confirmed .btn {
  margin: 0 0 40px;
}

.p-root .point-field.point-field-type__integer .input-group--dirty {
  padding-bottom: 0;
}

.p-root .point-field.point-field-type__boolean .checkbox {
  padding-bottom: 0;
}
</style>