<template>
  <div>
    <div
      class="info-window"
      v-show="showInfoContent"
      ref="infowindow"
    >
      <v-progress-circular
        v-if="loadPoint"
        indeterminate
        class="primary--text"
      ></v-progress-circular>
      <template v-else>
        <div v-if="currentUser._id && point">
          <v-checkbox
            v-model="subscribed"
            class="notif-point-chb"
            :label="$t('Оповещение на email')"
            hide-details
          ></v-checkbox>
       </div>
        <info-field
          v-for="field in delimitedFields.first"
          :key="field.name"
          :field="field"
          class="info-field"
        ></info-field>
        <div v-if="delimitedFields.additions.length">
          <span>{{ $t('Дополнительно') }}: </span>
          <span>{{listLabels(delimitedFields.additions)}}</span>
        </div>
        <div
          @click="toggleShowAllFields"
          class="toggle-show-btn"
        >--{{showAllLabel}}--</div>
        <info-field
          v-for="field in delimitedFields.second"
          :key="field.name"
          :field="field"
          class="info-field"
        ></info-field>
        <div class="info-buttons">
          <v-btn
            class="info-button"
            small
            primary
            dark
            @click="onEdit"
            v-if="authenticated"
          >{{ $t('Редактировать') }}</v-btn>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import {mapActions, mapGetters} from 'vuex';
import mapPointInfo from '@/mixins/map-point-info';
import InfoField from './info-field';

const MAX_FIRST_COUNT = 5;

export default {
  name: 'point-info',

  mixins: [mapPointInfo],

  computed: {
    ...mapGetters({
      generateUrl: 'api/fullUrl',
      authenticated: 'account/authenticated',
      currentUser: 'account/user'
    }),

    firstCount() {
      const fieldsLength = this.viewFields.length;
      let count = MAX_FIRST_COUNT;

      if (fieldsLength < count) {
        count = fieldsLength;
      }

      return count;
    },

    secondCount() {
      if (this.showAllFields === false) {
        return 0;
      }

      const count = this.viewFields.length - MAX_FIRST_COUNT;

      return (count < 0) ? 0 : count;
    },

    delimitedFields() {
      const firstCount = this.firstCount;
      const secondCount = this.secondCount;

      const first = [];
      const second = [];
      let additions = [];

      this.viewFields.forEach((item, index) => {
        if (item.name === 'childrens') {
          return;
        }

        if (index < firstCount) {
          first.push(item);
        }
        else if (this.showAllFields) {
          second.push(item);
        }
      });

      additions = this.additions;

      return {first, second, additions};
    },

    showAllLabel() {
      const label = (this.showAllFields === true) ?
        'скрыть' : 'подробнее';

      return this.$i18n.t(label);
    }
  },

  data() {
    return {
      point: null,
      loadPoint: false,

      infowindow: null,
      showInfoContent: false,
      showAllFields: false,

      viewFields: [],
      additions: [],

      subscribed: null
    };
  },

  props: {
    loadedLibrary: {
      type: Boolean,
      default: false
    }
  },

  watch: {
    sortedFields(newVal, oldVal) {
      const viewFields = [];
      const additions = [];

      this.sortedFields.forEach(fieldName => {
        const field = this.infoFields[fieldName];

        if (field.type === 'boolean') {
          if (field.value === true) {
            additions.push(field);
          }
        }
        else {
          viewFields.push(field);
        }
      });

      this.viewFields = viewFields;
      this.additions = additions;
    },

    async point(newPoint, oldPoint) {
      this.subscribed = null;

      if (newPoint === null) {
        return;
      }

      this.infoFields = this.getNormalFields(
        this.point.fields, ['author', 'idx']);
      await this.checkSubscribed();
    },

    loadedLibrary(newVal, oldVal) {
      if (newVal === oldVal || newVal === false) {
        return;
      }

      this.infowindow = new google.maps.InfoWindow({
        // maxWidth: 200,
        content: this.$refs.infowindow
      });

      this.infowindow.addListener('closeclick', e => this.close());
    },

    subscribed(newVal, oldVal) {
      if (
        oldVal === null ||
        newVal === null ||
        newVal === oldVal
      ) {
        return;
      }

      this.changeSubscribed();
    }
  },

  methods: {
    ...mapActions({
      responseError: 'fireResponseError',
      serverError: 'fireServerError',
      getNotification: 'notifications/getPointNotification',
      changeNotification: 'notifications/changePointNotification'
    }),

    async checkSubscribed() {
      if (!this.currentUser || !this.point) {
        return;
      }

      const checked = await this.getNotification({
        params: {
          point_id: this.point.fields._id,
          login: this.currentUser.login
        }
      });

      this.subscribed = checked;
    },

    async changeSubscribed() {
      if (!this.currentUser || !this.point) {
        return;
      }

      await this.changeNotification({
        params: {
          point_id: this.point.fields._id,
          login: this.currentUser.login
        },
        body: {
          subscribe: this.subscribed
        }
      });
    },

    checkOpened(point) {
      return this.point === point && this.showInfoContent === true;
    },

    showPoint(point) {
      if (this.loadPoint === true) {
        return false;
      }

      if (this.point !== point) {
        if (this.point !== null) {
          this.close();
        }

        this.point = point;
      }

      this.open();

      return true;
    },

    toggleShowAllFields() {
      this.showAllFields = !this.showAllFields;
    },

    close() {
      this.showInfoContent = false;
      this.showAllFields = false;
      this.infowindow.close();
      this.$emit('close', this.point);
    },

    open() {
      const marker = this.point.marker;

      this.showInfoContent = true;
      this.infowindow.open(marker.getMap(), marker);
      this.$emit('open', this.point);
    },

    onEdit() {
      this.close();
      Vue.nextTick(() => {
        this.$emit('edit', this.point);
        this.point = null;
      });
    },

    listLabels(items) {
      return items.reduce((result, item) => {
        const comma = (result !== '') ? ', ' : '';

        return result + comma + this.$i18n.t(item.label)
      }, '');
    }
  },

  components: {InfoField}
}
</script>
<style scope>
  .info-window {
    padding: 10px 0px 14px;
    overflow-x: hidden;
  }
  .info-window-load {}
  .info-field {
    margin-bottom: 5px;
  }
  .toggle-show-btn {
    margin: 8px 0;
    color: #6d6d6d;
    text-align: center;
    cursor: pointer;
    text-transform: lowercase;
  }
  .info-buttons {
    display: flex;
    width: 100%;
    margin-top: 6px;
    flex-direction: row-reverse;
  }
  .info-button {
    width: 50%;
    margin: 0;
    height: 22px;
    font-size: 10px;
  }
  .info-button:last-of-type {
    margin-left: 8px;
  }
  .notif-point-chb {
    padding: 0px 0px 10px;
  }
</style>