<template>
  <div>
    <span v-if="field.name === '_id'">{{ field.label }}: </span>
    <span v-else>{{ $t(field.label) }}: </span>

    <span v-if="field.type === 'array'">
       {{listItemValue(field.value, field.list)}}
    </span>
    <span v-else-if="field.type === 'date'">
      {{field.value | moment("DD MMMM YYYY")}}
    </span>
    <span v-else-if="field.name === 'author'">
      <router-link :to="{name: 'profile.detail', params: {login: field.value.login}}">{{ field.value.login }}</router-link>
    </span>
    <span v-else-if="field.name === '_id'">
      <router-link :to="{name: 'history.point', params: {pid: field.value}}">{{ field.value }}</router-link>
    </span>
    <span v-else>{{field.value}}</span>
  </div>
</template>
<script>
import Vue from 'vue';

export default {
  name: 'info-field',

  props: {
    field: {
      type: Object,
      default: {}
    }
  },

  methods: {
    getProfileUrl(login) {
      const url = this.$router.match({
        name: 'profile.detail',
        params: {login}
      }).fullPath;

      return url;
    },

    listItemValue(values, list) {
      if (!Array.isArray(values)) {
        values = [values];
      }

      const text = list.reduce((result, item) => {
        if (values.includes(item.value)) {
          const comma = (result !== '') ? ', ' : '';

          result += comma + this.$i18n.t(item.text);
        }

        return result;
      }, '');

      return text;
    }
  }
}
</script>
<style scope>
</style>