<template>
  <v-select
    v-model="proxyValue"
    :items="translateList(info.list)"
    :label="$t(info.label)"
    :error-messages="info.errors"
    :multiple="multiple"
    bottom
  ></v-select>
</template>
<script>
import iFieldComponent from './interface.js';

export default {
  name: 'array',
  computed: {
    multiple() {
      return Array.isArray(this.value);
    }
  },
  mixins: [iFieldComponent]
}
</script>