<template>
  <v-checkbox
    :label="$t(info.label)"
    :error-messages="info.errors"
    v-model="proxyValue"
  ></v-checkbox>
</template>
<script>
import iFieldComponent from './interface.js';

export default {
  name: 'boolean',
  mixins: [iFieldComponent]
}
</script>
