<template>
  <v-menu
    lazy
    :close-on-content-click="false"
    v-model="modal"
    offset-y
    full-width
    :nudge-left="40"
    :disabled="info.onlyUpdate"
  >
    <v-text-field
      slot="activator"
      :label="$t(info.label)"
      :error-messages="info.errors"
      :value="showFormat"
      class="text-field"
      readonly
    ></v-text-field>
    <v-btn
      v-if="info.onlyUpdate"
      slot="activator"
      @click.native="updateDate"
      class="button-update"
      secondary
    >{{ $t('Подтвердить') }}</v-btn>
    <v-date-picker
      v-else
      :value="proxyValue"
      :date-format="format"
      :formatted-value.sync="proxyValue"
      no-title
      scrollable
    >
      <template scope="{ save, cancel }">
        <v-card>
          <v-btn flat primary @click.native="cancel()">Закрыть</v-btn>
          <v-btn flat primary @click.native="save()">Применить</v-btn>
        </v-card>
      </template>
    </v-date-picker>
  </v-menu>
</template>
<script>
import iFieldComponent from './interface.js';
import Vue from 'vue';

export default {
  name: 'date',
  mixins: [iFieldComponent],
  watch: {
    value(newValue, oldValue) {
      if (newValue === oldValue) {
        return;
      }

      this.showedValue = newValue;
    }
  },
  computed: {
    showFormat() {
      const date = this.$moment(this.proxyValue);

      return date.format(this.formatString);
    }
  },
  data() {
    return {
      modal: false,
      showedValue: this.value,
      formatString: 'YYYY-MM-DD'
    };
  },
  methods: {
    format(value) {
      return value;
    },
    updateDate(event) {
      this.proxyValue = new Date();
    }
  }
}
</script>
<style scope>
  .text-field {
    padding-bottom: 0px;
  }
  .button-update {
    margin-bottom: 18px;
  }
</style>