<template>
  <div :class="generatedClass">
    <component
      :is="componentTypeName"
      :info="info"
      v-model="proxyValue"
    ></component>
  </div>
</template>
<script>
import arrayField from './array.vue';
import booleanField from './boolean.vue';
import dateField from './date.vue';
import integerField from './integer.vue';
import numberField from './number.vue';
import objectField from './object.vue';
import objectIDField from './objectID.vue';
import stringField from './string.vue';
import otherPointField from './other-point.vue';

export default {
  name: 'point-field',
  model: {
    prop: 'value',
    event: 'change'
  },
  created() {
    const normalValue = this.getNormalValue();

    if (this.value === void 0 && normalValue !== void 0) {
      this.$emit('change', normalValue);
    }
  },
  data() {
    return {
      proxyValue: this.getNormalValue()
    };
  },
  computed: {
    componentTypeName() {
      const type = this.info.type;

      return `${type}-field`;
    },
    generatedClass() {
      const type = this.info.type;
      const name = this.info.name;

      return `point-field point-field-type__${type} point-field-name__${name}`;
    }
  },
  props: {
    info: {
      type: Object,
      required: true
    },
    value: {}
  },
  watch: {
    value(newValue, oldValue) {
      if (newValue === oldValue) {
        return;
      }

      this.proxyValue = this.getNormalValue();
    },
    proxyValue(newValue, oldValue) {
      if (newValue === oldValue) {
        return;
      }

      this.$emit('change', newValue);
    }
  },
  methods: {
    getNormalValue() {
      if (this.value !== void 0) {
        return this.value;
      }

      if (this.info.default !== void 0) {
        return this.info.default;
      }
    }
  },
  components: {
    arrayField,
    booleanField,
    dateField,
    integerField,
    numberField,
    objectField,
    objectIDField,
    stringField,
    otherPointField
  }
};
</script>