<template>
  <div>
    <v-text-field
      :label="$t(info.label)"
      :min="info.min"
      :max="info.max"
      :step="info.step || 1"
      :error-messages="info.errors"
      :value="proxyValue"
      @input="onInput"
      type="number">
    </v-text-field>
    <v-slider
      v-if="info.step > 0"
      v-model="proxyValue"
      :min="info.min"
      :max="info.max"
      :step="info.step"
      snap
    ></v-slider>
    <v-slider
      v-else
      v-model="proxyValue"
      :min="info.min"
      :max="info.max"
    ></v-slider>
  </div>
</template>
<script>
import iFieldComponent from './interface.js';

export default {
  name: 'integer',
  mixins: [iFieldComponent],
  methods: {
    onInput(value) {
      if (value.length > 1 && value.startsWith('0')) {
        const step = this.info.step;

        value = value.replace('0', '');

        if (parseInt(value) < step) {
          value = step;
        }
      }

      this.proxyValue = value;
    }
  }
}
</script>

<style>
.input-group--slider {
  padding: 0;
}
</style>