<template>
  <v-text-field
    :label="$t(info.label)"
    :min="info.min"
    :max="info.max"
    :error-messages="info.errors"
    v-model="proxyValue"
    type="number"
    :step="info.step || 0.00001"
  >
  </v-text-field>
</template>
<script>
import iFieldComponent from './interface.js';

export default {
  name: 'number',
  mixins: [iFieldComponent],

  methods: {
    filterValue(value) {
      const precision = this.info.precision;

      if (precision !== void 0 && value.toFixed) {
        value = value.toFixed(precision);
      }

      if (typeof newValue !== 'number') {
        value = parseFloat(value);
      }

      return value;
    }
  }
}
</script>