<template>
  <v-text-field
    :name="info.name"
    :label="info.label"
    :value="proxyValue"
    disabled
    :error-messages="info.errors"
  ></v-text-field>
</template>
<script>
import iFieldComponent from './interface.js';

export default {
  name: 'objectID',
  mixins: [iFieldComponent]
}
</script>