<template>
  <div class="other-point-field input-group input-group-dirty">
    <label>{{ $t(info.label) }}</label>
    <v-btn secondary @click="addPoint">{{ $t('Добавить') }}</v-btn>
  </div>
</template>
<script>
import Point from '@/libs/point';
import iFieldComponent from './interface.js';

export default {
  name: 'other-point',
  mixins: [iFieldComponent],
  methods: {
    addPoint() {
      this.value.unshift(new Point({x: 0.0, y: 0.0}));
    }
  }
}
</script>

<style>
.other-point-field .btn {
  margin: 0;
}

.other-point-field .btn__content {
  font-size: 12px;
}
</style>