<template>
  <v-text-field
    :name="info.name"
    :label="$t(info.label)"
    v-model="proxyValue"
    :error-messages="info.errors"
  ></v-text-field>
</template>
<script>
import iFieldComponent from './interface.js';

export default {
  name: 'string',
  mixins: [iFieldComponent]
}
</script>