<template>
  <div>
    <h4>{{$t('История')}}</h4>
    <div class="caption">
      {{ $t('Добавлено за сутки') }}: {{ createdDay }} &nbsp;&nbsp;
      {{ $t('Изменено за сутки') }}: {{ changedDay }} &nbsp;&nbsp;
      {{ $t('Комментариев за сутки') }}: {{ commentsDay }}
    </div>
    <v-tabs
      v-model="currentTab"
      grow
      scroll-bars
      dark
      ref="point"
    >
      <v-tabs-bar class="blue-grey darken-1" slot="activators">
        <v-tabs-item
          v-for="(info, key, index) in content"
          :key="key"
          :href="'#'+key"
          :disabled="disabled"
          ripple
        >
          {{ $t(info.title) }}
          <v-chip class="secondary white--text">
            {{info.cnt}}
          </v-chip>
        </v-tabs-item>
        <v-tabs-slider></v-tabs-slider>
      </v-tabs-bar>

      <v-tabs-content
        v-for="(info, key, index) in content"
        :key="key"
        :id="key"
      >
        <component
          :is="key + '-points'"
          :items="info.items"
          :loading="info.loading"
        ></component>
      </v-tabs-content>
    </v-tabs>
  </div>
</template>

<script>
import Vue from 'vue';
import {mapActions, mapGetters} from 'vuex';
import title from '@/mixins/title';
import scrollpoint from '@/mixins/scrollpoint';

import CreatedPoints from '@/components/pointlog/created_points';
import ChangedPoints from '@/components/pointlog/changed_points';
import CommentsPoints from '@/components/pointlog/comments_points';

export default {
  mixins: [title, scrollpoint],
  title: 'История',

  name: 'history',

  data() {
    return {
      currentTab: 'created',
      disabled: false,
      createdDay: 0,
      changedDay: 0,
      commentsDay: 0,
      content: {
        created: {
          cnt: 0,
          items: [],
          title: 'Добавлено',
          loading: false,
          page: 0,
          loadedAllPages: false
        },
        changed: {
          cnt: 0,
          items: [],
          title: 'Изменено',
          loading: false,
          page: 0,
          loadedAllPages: false
        },
        comments: {
          cnt: 0,
          items: [],
          title: 'Комментарии',
          loading: false,
          page: 0,
          loadedAllPages: false
        }
      }
    }
  },

  watch: {
    async currentTab(newValue, oldValue) {
      if (newValue === oldValue) {
        return;
      }

      if (this.content[newValue].items.length === 0) {
        await this.loadContent(newValue);
      }
    }
  },

  computed: {
    ...mapGetters({
      generateUrl: 'api/fullUrl'
    })
  },

  methods: {
    ...mapActions({
      responseError: 'fireResponseError',
      serverError: 'fireServerError'
    }),

    async asyncData() {
      try {
        const url = this.generateUrl({
          name: 'history.counts'
        });
        const response = await Vue.http.get(url);
        const counts = response.body;

        for (let key in counts) {
          if (key in this.content) {
            this.content[key].cnt = counts[key];
          }
        }

        this.createdDay = counts.createdDay;
        this.changedDay = counts.changedDay;
        this.commentsDay = counts.commentsDay;

        await this.loadContent(this.currentTab);
      }
      catch (error) {
        if (!error.body) {
          throw error;
        }
      }
    },

    async load(type, page = 1) {
      let result;
      const url = this.generateUrl({
        name: `history.${type}`
      });

      this.disabled = true;

      try {
        const response = await Vue.http.get(url, {
          params: {page}
        });

        result = response.body;
      }
      catch (error) {
        if (error instanceof Error) {
          throw error;
        }

        if (error.status < 500) {
          await this.responseError(error);
        }
        else {
          await this.serverError(error);
        }
      }

      this.disabled = false;

      return result;
    },

    async loadContent(type) {
      const content = this.content[type];

      if (content.loadedAllPages || content.loading) {
        return;
      }

      content.loading = true;

      const loadingPage = content.page + 1;
      const items = await this.load(type, loadingPage);

      if (items) {
        if (items.length === 0) {
          content.loadedAllPages = true;
        }
        else {
          content.items = content.items.concat(items);
          content.page = loadingPage;
        }
      }

      content.loading = false;
    },

    async scrolledToBottom() {
      await this.loadContent(this.currentTab);
    }
  },

  components: {CreatedPoints, ChangedPoints, CommentsPoints}
};
</script>

<style scoped>
.caption {
  margin-bottom: 10px;
}
</style>