<template>
  <div v-if="point">
    <h4>{{pointinfo}}</h4>
    <div class="caption">
      ID: <router-link :to="{name: 'map', query: {point: point._id, center: point.x + ',' + point.y, zoom: 16}}">{{ point._id }}</router-link>  &nbsp;&nbsp;
      {{ $t('Добавлен') }}: {{ point.created | moment("DD.MM.YYYY HH:mm") }}
    </div>
    <v-tabs
      v-model="currentTab"
      grow
      scroll-bars
      dark
      ref="point"
    >
      <v-tabs-bar class="blue-grey darken-1" slot="activators">
        <v-tabs-item
          v-for="(info, key, index) in content"
          :key="key"
          :href="'#'+key"
          :disabled="disabled"
          ripple
        >
          {{ $t(info.title) }}
          <v-chip class="secondary white--text">
            {{info.cnt}}
          </v-chip>
        </v-tabs-item>
        <v-tabs-slider></v-tabs-slider>
      </v-tabs-bar>

      <v-tabs-content
        v-for="(info, key, index) in content"
        :key="key"
        :id="key"
      >
        <component
          :is="key + '-points'"
          :items="info.items"
          :loading="info.loading"
          :white-fields="['created', 'changed', 'author']"
        ></component>
      </v-tabs-content>
    </v-tabs>
  </div>
</template>

<script>
import Vue from 'vue';
import {mapActions, mapGetters} from 'vuex';
import Point from '@/libs/point';
import title from '@/mixins/title';
import scrollpoint from '@/mixins/scrollpoint';

import ChangedPoints from '@/components/pointlog/changed_points';

const infos = {
  type: Point.normalizeField({name: 'type', force: true}),
  subType: Point.normalizeField({name: 'subType', force: true})
};

export default {
  mixins: [title, scrollpoint],
  title: 'История',

  name: 'history-point',

  props: ['pid'],
  data() {
    return {
      currentTab: 'changed',
      disabled: false,
      point: null,
      content: {
        changed: {
          cnt: 0,
          items: [],
          title: 'Изменено',
          loading: false,
          page: 0,
          loadedAllPages: false
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      generateUrl: 'api/fullUrl'
    }),

    pointinfo() {
      const point = this.point;
      const type = this.listLabel(point.type, 'type');
      let str = `${type}: `;

      if (point.subType) {
        str += this.listLabel(point.subType, 'subType');
      }
      else if (point.comment) {
        str += point.comment;
      }

      return str;
    }
  },

  watch: {
    async currentTab(newValue, oldValue) {
      if (newValue === oldValue) {
        return;
      }

      if (this.content[newValue].items.length === 0) {
        await this.loadContent(newValue);
      }
    }
  },

  methods: {
    ...mapActions({
      responseError: 'fireResponseError',
      serverError: 'fireServerError'
    }),

    async asyncData() {
      try {
        const url = this.generateUrl({
          name: 'history.counts'
        });
        const response = await Vue.http.get(url, {
          params: {pid: this.pid}
        });
        const body = response.body;

        for (let key in body) {
          if (key in this.content) {
            this.content[key].cnt = body[key];
          }
        }

        this.point = body.point;

        await this.loadContent(this.currentTab);
      }
      catch (error) {
        if (!error.body) {
          throw error;
        }
      }
    },

    async load(type, page = 1) {
      let result;
      const url = this.generateUrl({
        name: `history.${type}`
      });

      this.disabled = true;

      try {
        const response = await Vue.http.get(url, {
          params: {
            page,
            pid: this.pid
          }
        });

        result = response.body;
      }
      catch (error) {
        if (error instanceof Error) {
          throw error;
        }

        if (error.status < 500) {
          await this.responseError(error);
        }
        else {
          await this.serverError(error);
        }
      }

      this.disabled = false;

      return result;
    },

    async loadContent(type) {
      const content = this.content[type];

      if (content.loadedAllPages || content.loading) {
        return;
      }

      content.loading = true;

      const loadingPage = content.page + 1;
      const items = await this.load(type, loadingPage);

      if (items) {
        if (items.length === 0) {
          content.loadedAllPages = true;
        }
        else {
          content.items = content.items.concat(items);
          content.page = loadingPage;
        }
      }

      content.loading = false;
    },

    async scrolledToBottom() {
      await this.loadContent(this.currentTab);
    },

    listLabel(value, key) {
      if (!value) {
        return '';
      }

      const {text:label} = infos[key].list.find(item => {
        return item.value === value;
      });

      return this.$t(label);
    }
  },

  components: {ChangedPoints}
};
</script>

<style scoped>
  .caption {
    margin-bottom: 10px;
  }
</style>