Для окончания регистрации перейдите по <a target="_blank" href="${url}">ССЫЛКЕ</a>.
<br/>
Перед добавлением объектов в базу, пожалуйста ознакомьтесь с <a href="http://openspeedcam.net/help" target="_blank">ПРАВИЛАМИ</a>.