<template>
  <v-app toolbar>
    <v-toolbar class="indigo" dark>
      <v-toolbar-title>OpenSpeedcam</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
      <v-toolbar-items class="hidden-sm-and-down">
        <navigation></navigation>
        <language-selector></language-selector>
        <account></account>
      </v-toolbar-items>
    </v-toolbar>
    <v-progress-linear v-bind:indeterminate="true" height="3" :active="preloader.active"></v-progress-linear>
    <v-snackbar
      :top="true"
      :timeout="5000"
      :success="notify.type === 'success'"
      :info="notify.type === 'info'"
      :warning="notify.type === 'warning'"
      :error="notify.type === 'error'"
      :primary="notify.type === 'primary'"
      :secondary="notify.type === 'secondary'"
      :value="notify.active"
      @input="notifyActivedChange">
      {{ $t(notify.message) }}
      <v-btn flat @click.native="hideNotify">{{ $t('Закрыть') }}</v-btn>
    </v-snackbar>
    <modal></modal>
    <main>
      <v-container fluid class="main-container">
        <router-view></router-view>
      </v-container>
    </main>
    <tr-overlay :active="overlay"></tr-overlay>
  </v-app>
</template>

<script>
import {mapGetters} from 'vuex';
import * as types from '@/store/mutations-types';
import TrOverlay from '@/components/overlay.vue';
import LanguageSelector from '@/components/languageSelector.vue';
import Navigation from '@/components/navigation.vue';
import Account from '@/components/account.vue';
import Modal from '@/components/modal.vue';

export default {
  name: 'app',
  data() {
    return {}
  },
  computed: {
    ...mapGetters('account', ['authenticated']),
    ...mapGetters([
      'preloader',
      'notify',
      'overlay'
    ])
  },

  watch: {
    authenticated(cur, prev) {
      if (cur === false && prev === true) {
        this.$router.push({name: 'map'});
      }
    }
  },

  methods: {
    hideNotify() {
      this.$store.commit(types.SWITCH_NOTIFY, {active: false});
    },
    notifyActivedChange(value) {
      this.$store.commit(types.SWITCH_NOTIFY, {active: value});
    }
  },

  components: {
    LanguageSelector,
    Navigation,
    Account,
    Modal,
    TrOverlay
  }
}
</script>

<style src="vuetify/dist/vuetify.min.css"></style>

<style>
  .application {
    min-height: 100%;
  }
  .mini-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

<style scoped>
.toolbar>:last-child {
  margin-right: 0;
}
.toolbar {
  z-index: 1;
}
.progress-linear {
  margin: 0;
}
.main-content {
  padding: 16px;
}
.main-container {
  min-height: 0!important;
}
</style>