<template>
  <div>
    <v-text-field
      v-model="password"
      type="text"
      :label="$t('Пароль')"
      :disabled="disabled"
      :rules="errors.password">
    </v-text-field>
    <v-text-field
      v-model="confirmPassword"
      type="text"
      :label="$t('Подтвердите пароль')"
      :disabled="disabled"
      :rules="errors.confirmPassword">
    </v-text-field>

    <v-btn light info
      @click.native="confirm"
      :loading="loading"
      :disabled="disabled">
      {{ $t('изменить пароль') }}
      <span slot="loader" class="mini-loader">
        <v-icon light>cached</v-icon>
      </span>
    </v-btn>
  </div>
</template>

<script>
import title from '@/mixins/title';
import validForm from '@/mixins/valid-form';

export default {
  mixins: [title, validForm],
  title: 'Изменить пароль',

  name: 'confirm-password',

  props: ['email', 'confirmKey'],
  data() {
    return {
      password: '',
      confirmPassword: '',
      fields: ['password', 'confirmPassword']
    }
  },

  methods: {
    async confirm() {
      const data = {
        params: {
          email: this.email,
          confirmKey: this.confirmKey
        },
        body: {
          password: this.password,
          confirmPassword: this.confirmPassword
        }
      };

      const operation = this.$store.dispatch(
        'account/confirmPassword', data);

      await this.runOperation(operation);
    }
  }
};
</script>
