<template>
  <div>
    <v-text-field
      v-model="currentEmail"
      type="text"
      :label="$t('Текущий адрес электронной почты') + ' (' + $t('Не будет показан') + ')'"
      :disabled="disabled"
      :rules="errors.currentEmail">
    </v-text-field>
    <v-text-field
      v-model="newEmail"
      type="text"
      :label="$t('Новый адрес электронной почты') + ' (' + $t('Не будет показан') + ')'"
      :disabled="disabled"
      :rules="errors.newEmail">
    </v-text-field>

    <v-text-field
      v-model="currentPassword"
      type="password"
      :label="$t('Пароль')"
      :disabled="disabled"
      :rules="errors.currentPassword">
    </v-text-field>
    <v-text-field
      v-model="newPassword"
      type="password"
      :label="$t('Подтвердите пароль')"
      :disabled="disabled"
      :rules="errors.newPassword">
    </v-text-field>

    <v-btn light info
      @click.native="change"
      :loading="loading"
      :disabled="disabled">
      {{ $t('Применить') }}
      <span slot="loader" class="mini-loader">
        <v-icon light>cached</v-icon>
      </span>
    </v-btn>
  </div>
</template>

<script>
import Vuex from 'vuex';
import title from '@/mixins/title';
import validForm from '@/mixins/valid-form';

export default {
  mixins: [title, validForm],
  title: 'Настройки пользователя',

  name: 'profile-change',
  props: ['login'],

  computed: {
    ...Vuex.mapGetters('account', ['user'])
  },

  data() {
    return {
      currentEmail: '',
      newEmail: '',
      currentPassword: '',
      newPassword: '',

      fields: [
        'currentEmail',
        'newEmail',
        'currentPassword',
        'newPassword'
      ]
    }
  },

  methods: {
    async change() {
      const data = {
        params: {
          login: this.login
        },
        body: {
          currentEmail: this.currentEmail,
          newEmail: this.newEmail,
          currentPassword: this.currentPassword,
          newPassword: this.newPassword
        }
      };
      const operation = this.$store.dispatch(
        'account/profileChange', data);

      await this.runOperation(operation);
    },

    async asyncData() {
      if (this.user.login !== this.login) {
        await this.$store.dispatch('unauthorizedError');
      }
    }
  }
};
</script>

<style scoped>
</style>