<template>
  <div v-if="haveUser">
    <h5>{{user.login}}</h5>
    <div class="caption dates">
      <span class="registered">
        {{ $t('Зарегистрирован') }}: {{ user.registeredAt | moment("DD MMMM YYYY") }}
      </span>
      <span class="last-activity">
        {{ $t('Последняя активность') }}: {{ user.lastActivity | moment("calendar") }}
      </span>
    </div>

    <div class="roles"
      v-if="globalUser.roles.includes('admin')"
    >
      <v-select
        class="roles__select"
        v-model="selectedRole"
        :items="roles"
        :label="$t('Роли')"
        hide-details
        bottom
      ></v-select>
      <v-btn
        class="roles__btn"
        primary dark
        @click.native="onChangeRoles"
      >{{ $t('Применить') }}</v-btn>
    </div>

    <div class="change-notif"
      v-if="haveUser && user._id === globalUser._id"
    >
      <v-checkbox
        v-model="pointNotification"
        :label="$t('Получать оповещение на email об изменении объектов')"
        class="change-notif__chb"
        hide-details
      ></v-checkbox>
      <v-btn
        class="roles__btn"
        primary dark
        @click.native="onChangeNotification"
      >{{ $t('Применить') }}</v-btn>
    </div>

    <v-tabs
      v-model="currentTab"
      ref="point"
      grow
      scroll-bars
      dark
    >
      <v-tabs-bar class="blue-grey darken-1" slot="activators">
        <v-tabs-item
          v-for="(info, key, index) in content"
          :key="key"
          :href="'#'+key"
          :disabled="disabled"
          ripple
        >
          {{ $t(info.title) }}
          <v-chip class="secondary white--text">
            {{info.cnt}}
          </v-chip>
        </v-tabs-item>
        <v-tabs-slider></v-tabs-slider>
      </v-tabs-bar>

      <v-tabs-content
        v-for="(info, key, index) in content"
        :key="key"
        :id="key"
      >
        <component
          :is="key + '-points'"
          :items="info.items"
          :loading="info.loading"
          :white-fields="info.whiteFields"
        ></component>
      </v-tabs-content>
    </v-tabs>
  </div>
</template>

<script>
import Vue from 'vue';
import {mapActions, mapGetters} from 'vuex';
import title from '@/mixins/title';
import scrollpoint from '@/mixins/scrollpoint';

import roles from 'node-scripts/roles';

import CreatedPoints from '@/components/pointlog/created_points';
import ChangedPoints from '@/components/pointlog/changed_points';
import CommentsPoints from '@/components/pointlog/comments_points';

export default {
  mixins: [title, scrollpoint],
  title: 'Профайл',

  name: 'profile',
  props: ['login'],

  data() {
    return {
      currentTab: 'created',
      disabled: false,
      user: {},
      content: {
        created: {
          cnt: 0,
          items: [],
          title: 'Добавлено',
          loading: false,
          page: 0,
          loadedAllPages: false,
          whiteFields: ['created', '_id', 'type', 'comment']
        },
        changed: {
          cnt: 0,
          items: [],
          title: 'Изменено',
          loading: false,
          page: 0,
          loadedAllPages: false,
          whiteFields: ['created', 'pointId', 'changed']
        },
        comments: {
          cnt: 0,
          items: [],
          title: 'Комментарии',
          loading: false,
          page: 0,
          loadedAllPages: false,
          whiteFields: ['created', 'pointId', 'text']
        }
      },

      selectedRole: [],
      pointNotification: false
    }
  },

  watch: {
    async currentTab(newValue, oldValue) {
      if (newValue === oldValue) {
        return;
      }

      await this.loadContent(newValue);
    },

    async user(newValue, oldValue) {
      if (newValue === oldValue) {
        return;
      }

      this.clear();
      this.selectedRole = newValue.roles[0];

      this.pointNotification = !!newValue.pointNotification;

      await this.loadContent(this.currentTab);
    }
  },

  computed: {
    ...mapGetters({
      generateUrl: 'api/fullUrl',
      globalUser: 'account/user'
    }),

    haveUser() {
      return Boolean(this.user._id);
    },

    roles() {
      return roles.filter(role => role.value !== 'guest');
    }
  },

  methods: {
    ...mapActions({
      responseError: 'fireResponseError',
      serverError: 'fireServerError',
      changeRoles: 'account/profileChangeRoles',
      changeNotifications: 'account/changeNotifications'
    }),

    async asyncData() {
      const data = { login: this.login };

      try {
        const profileData = await this.$store.dispatch(
          'account/profile', data);

        this.user = profileData.user;

        for (let key in profileData.cnt) {
          if (key in profileData.cnt) {
            this.content[key].cnt = profileData.cnt[key];
          }
        }
      }
      catch (error) {
        if (!error.body) {
          throw error;
        }
      }
    },

    async load(type, page = 1) {
      let result;
      const url = this.generateUrl({
        name: `profile.points.${type}`,
        params: {
          login: this.user.login
        }
      });

      this.disabled = true;

      try {
        const response = await Vue.http.get(url, {
          params: {page}
        });

        result = response.body;
      }
      catch (error) {
        if (error instanceof Error) {
          throw error;
        }

        if (error.status < 500) {
          await this.responseError(error);
        }
        else {
          await this.serverError(error);
        }
      }

      this.disabled = false;

      return result;
    },

    async loadContent(type) {
      const content = this.content[type];

      if (content.loadedAllPages || content.loading) {
        return;
      }

      content.loading = true;

      const loadingPage = content.page + 1;
      const items = await this.load(type, loadingPage);

      if (items) {
        if (items.length === 0) {
          content.loadedAllPages = true;
        }
        else {
          content.items = content.items.concat(items);
          content.page = loadingPage;
        }
      }

      content.loading = false;
    },

    clear() {
      for (let type in this.content) {
        this.content[type].loadedAllPages = false;
      }
    },

    async scrolledToBottom() {
      await this.loadContent(this.currentTab);
    },

    async onChangeRoles(event) {
      await this.changeRoles({
        params: {
          login: this.user.login
        },
        body: {
          role: this.selectedRole
        }
      });
    },

    async onChangeNotification() {
      await this.changeNotifications({
        params: {
          login: this.user.login
        },
        body: {
          pointNotification: this.pointNotification
        }
      });
    }
  },

  components: {CreatedPoints, ChangedPoints, CommentsPoints}
};
</script>

<style scoped>
  .dates {
    margin-bottom: 10px;
  }
  .registered {
    margin-right: 10px;
  }

  .change-notif,
  .roles {
    margin-bottom: 20px;
  }

  .change-notif__chb,
  .roles__select {
    width: 500px;
    display: inline-block;
    margin-right: 15px;
  }

  .change-notif__chb {
    padding: 0;
  }
</style>
