<template>
  <centered-content>
    <router-view></router-view>
  </centered-content>
</template>

<script>
import centeredContent from '@/components/centered-content.vue';

export default {
  components: {centeredContent}
};
</script>

<style scoped>
</style>