<template>
  <page name="about"></page>
</template>

<script>
import title from '@/mixins/title';
import page from '@/components/page.vue';

export default {
  mixins: [title],
  title: 'О проекте',
  components: {page}
}
</script>