<template>
  <centered-content v-if="viewLoaded">
    <v-select
      v-model="format"
      :items="listFormats"
      :label="$t('Формат')"
      :disabled="disabled"
      :rules="errors.format"
    ></v-select>
    <v-select
      v-model="addresses.countries.value"
      :items="addresses.countries.list"
      :label="$t('Страна')"
      :disabled="disabled"
    ></v-select>

    <div class="input-container">
      <div class="input-header">{{ $t('Объекты для экспорта') }}</div>
      <div v-if="errors.types" class="input-errors">
        <div v-for="error in errors.types"
          :key="error"
          class="list-types-error"
        >{{ error }}</div>
      </div>

      <v-checkbox
        v-for="(item, key) in listTypes"
        :key="key"

        class="input-checkbox"
        hide-details
        :disabled="disabled"

        v-model="types"
        :value="item.value"
        :label="$t(item.text)"
      ></v-checkbox>
    </div>

    <div class="input-container">
      <div class="input-header">{{ $t('Промежуточные точки (Камера средней скорости)') }}</div>
      <v-checkbox
        v-model="selectMiddlePoints"
        :disabled="disabled"
        :label="$t('Добавить в экспорт')"
        hide-details
        class="input-checkbox middle-point-checkbox"
      ></v-checkbox>
    </div>

    <div v-if="showConfirm">
      <v-checkbox
        v-model="selectOnlyConfirmed"
        :disabled="disabled"
        :label="$t('Мобильные засады подтвержденные после')"
        hide-details
        class="confirmed-checkox"
      ></v-checkbox>
      <v-menu
        v-model="modalConfirm"
        full-width
        content-class="datepicker-menu"
        :close-on-content-click="false"
      >
        <v-text-field
          slot="activator"
          v-model="confirmed"
          readonly
          :rules="errors.confirmed"
          class="confirmed-input-text"
        ></v-text-field>
        <v-date-picker v-model="confirmed" no-title>
          <template scope="{ save, cancel }">
            <v-card>
              <v-btn flat primary @click.native="cancel()">Закрыть</v-btn>
              <v-btn flat primary @click.native="save()">Применить</v-btn>
            </v-card>
          </template>
        </v-date-picker>
      </v-menu>
    </div>

    <v-select
      v-model="rating"
      :items="listRatings"
      :label="$t('Объекты с рейтингом от')"
      :disabled="disabled"
      :rules="errors.rating"
    ></v-select>

    <div v-if="format === 'PocketGis'" class="input-container">
      <div class="input-header">{{ $t('ID объекта в комментариях') }}</div>
      <v-checkbox
        v-model="withIdPoint"
        :disabled="disabled"
        :label="$t('Добавить в экспорт')"
        hide-details
        class="input-checkbox middle-point-checkbox"
      ></v-checkbox>
    </div>

    <v-btn
      info
      :loading="loading"
      :disabled="disabled"
      @click="generate"
    >
      {{ $t('Экспорт') }}
    </v-btn>
  </centered-content>
</template>
<script>
import {URL, URLSearchParams} from '@/libs/url';
import Point from '@/libs/point';
import Vue from 'vue';
import {mapActions, mapGetters} from 'vuex';

import centeredContent from '@/components/centered-content.vue';
import validForm from '@/mixins/valid-form';
import title from '@/mixins/title';

const formats = ['Navitel', 'PocketGis', 'Igo'];

export default {
  name: 'export',

  mixins: [title, validForm],

  data() {
    const types = Point.normalizeField({name: 'type'})
      .list.map(item => item.value);
    const confirmed = new Date();

    confirmed.setFullYear(confirmed.getFullYear() - 1);

    return {
      fields: ['rating', 'format', 'types', 'confirmed'],

      viewLoaded: false,
      showRegion: false,
      showConfirm: true,
      modalConfirm: false,
      selectMiddlePoints: false,
      selectOnlyConfirmed: true,
      withIdPoint: true,

      addresses: {
        countries: {
          list: [],
          value: ''
        }/*,
        regions: {
          list: [],
          value: ''
        }*/
      },

      format: formats[0],
      rating: 0,
      types,

      confirmed: this.$moment(confirmed).format('YYYY-MM-DD')
    };
  },

  watch: {
    /*['addresses.countries.value']: async function(newVal, oldVal) {
      if (newVal === oldVal) {
        return;
      }

      this.showRegion = newVal === 'RU';

      if (this.showRegion && this.addresses.regions.list.length === 0) {
        await this.load('regions');
      }
    },*/

    types(newVal, oldVal) {
      this.showConfirm = newVal.includes('mobile_ambush');
    }
  },

  computed: {
    ...mapGetters({
      generateUrl: 'api/fullUrl'
    }),

    listTypes() {
      return Point.normalizeField({name: 'type'}).list;
    },

    listRatings() {
      return Point.normalizeField({name: 'rating'}).list.map(item => {
        item.text = this.$t(item.text);

        return item;
      });
    },

    listFormats() {
      return formats;
    }
  },

  methods: {
    ...mapActions({
      responseError: 'fireResponseError',
      serverError: 'fireServerError'
    }),

    async asyncData() {
      try {
        await this.load('countries');

        this.viewLoaded = true;
      }
      catch (error) {
        if (!error.body) {
          throw error;
        }
      }
    },

    async load(addressType) {
      this.loading = true;

      const url = this.generateUrl({name: `addresses.${addressType}`});

      try {
        const response = await Vue.http.get(url);
        const body = response.body || [];
        const list = body.sort().filter(value => value !== 'null')
          .map(value => ({
            text: this.$t(value),
            value: value
          }));

        this.addresses[addressType].list = list;
        this.addresses[addressType].value = (list[0] && list[0].value) || '';
      }
      catch (error) {
        if (error instanceof Error) {
          throw error;
        }

        if (error.status < 500) {
          await this.responseError(error);
        }
        else {
          await this.serverError(error);
        }
      }

      this.loading = false;
    },

    async generate() {
      const operation = this.__submit();

      await this.runOperation(operation);

      this.disabled = false;
    },

    async __submit() {
      const url = this.generateUrl({name: 'export'});
      const data = {
        format: this.format,
        rating: this.rating,
        country: this.addresses.countries.value,
        // region: this.addresses.regions.value,
        types: this.types,
        selectMiddlePoints: this.selectMiddlePoints,
        withIdPoint: this.withIdPoint
      };

      if (this.showConfirm) {
        data.confirmed = this.confirmed;
        data.selectOnlyConfirmed = this.selectOnlyConfirmed;
      }

      const response = await Vue.http.post(url, data, {
        responseType: 'blob'});

      const result = document.createElement('a');
      const type = response.headers['content-type'];
      const contentDisposition = response.headers
        .get('Content-Disposition') || '';
      const filename = contentDisposition
        .split('filename=')[1].replace(/"/g,"");

      const blobData = await response.blob();

      if (window.navigator.msSaveOrOpenBlob) {
        window.navigator.msSaveOrOpenBlob(blobData, filename);
      }
      else {
        result.href = URL.createObjectURL(blobData, {type});
        result.target = '_self';
        result.download = filename;

        result.click();
      }
    }
  },

  components: {centeredContent}
}
</script>
<style>
  .input-errors {
    color: #ff5252;
  }
  .input-container {
    padding-bottom: 20px;
  }
  .input-header {
    color: rgba(0,0,0,.54);
  }
  .input-checkbox {
    padding-bottom: 0;
  }
  .datepicker-menu {
    min-width: auto!important;
  }
  .middle-point-checkbox {
    padding-top: 0;
  }
  .confirmed-checkox {
    padding-bottom: 0;
  }
  .confirmed-input-text {
    padding-top: 0;
  }
</style>
