<template>
  <div id="map-container">
    <google-map></google-map>
  </div>
</template>

<script>
import title from '@/mixins/title';
import googleMap from '@/components/googleMap.vue';

export default {
  mixins: [title],
  title: 'Карта',
  data() {
    return {
    }
  },
  components: {
    googleMap
  }
}
</script>

<style scoped>
#map-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 0;
}
</style>